[2017-03-07 15:47] pavelevap opened #1191 "Deleting plugin or theme does not create a commit"
I tried to delete default plugin Hello Dolly and commit was not created (3.0.2, 4.0-alpha1).

![image](https://cloud.githubusercontent.com/assets/3008007/23662623/7a1b9d2c-0350-11e7-98ba-2cc763829d4d.png)

[2017-03-08 10:54] pavelevap commented on #1191
Some plugin actions were ajaxified in WP 4.6 (see [Shiny updates](https://make.wordpress.org/core/2016/07/06/shiny-updates-in-4-6/)).

VP method `isPluginDeleteRequest()` in [setup-hooks.php](https://github.com/versionpress/versionpress/blob/81239e533d1e94fb609cfcb0503384880497e7f4/plugins/versionpress/setup-hooks.php#L421) started to return `false` and that is why deletion is not tracked and comm

[2017-03-13 21:07] pavelevap opened #1192 "Clean up temp folder"
We should automatically remove everything from `temp` folder during build, except versioned [files](https://github.com/versionpress/versionpress/tree/master/plugins/versionpress/temp).

@vasek17 mentioned similar [condition](https://github.com/versionpress/versionpress/blob/325cd8335b4083a17d2e489c5b72b018f7f103eb/gulpfile.js#L116) on Slack as an example.

[2017-03-13 21:12] pavelevap opened #1193 "Remove VersionPress completely"
There are some forgotten things after deleting VersionPress from website, see https://github.com/versionpress/support/issues/89

- `wp-config.php` file contains link to `wp-config.common.php` file at the beginning:
[code]

- Also `wp-config.common.php` still exists (required by `wp-config.php` file).
- `vp_commit_frequently_written_entities_hourly` cron event also still exists.
- `.gitignore` file

[2017-03-13 21:20] pavelevap commented on #1192
Probably also remove `.DS_Store` from main folder.

[2017-03-14 19:55] pavelevap commented on #1077
I experienced some other side-effects:

1) When you use WP-CLI for some changes, they will be tracked only partially. Particular `.ini` file will be correctly created, but not committed. Why? It is possible to activate VersionPress, so `wp-db.php` is replaced and database tracked, but VP is not running at all, because will be stopped at the very [beginning](https://github.com/versionpress/versionp

[2017-03-20 12:54] pavelevap commented on #1193
`.gitignore` should be deleted (it was not forgotten), but there is a following bug:

During work on #565, file [.gitignore.tpl](https://github.com/versionpress/versionpress/blob/master/plugins/versionpress/src/Initialization/.gitignore.tpl) was replaced by dynamic version ([here](https://github.com/versionpress/versionpress/commit/2f4c18b722d3e1f685450739b229abed7f1878ae)).

But during uninstalla

[2017-03-20 14:02] pavelevap opened #1194 "Problems with Opcache after deactivating VersionPress"
This problem was first mentioned [here](https://github.com/versionpress/support/issues/89) by @meadows19 and I was able to reproduce it.

When user deactivates VersionPress and then deletes it, following error is visible: `Deletion failed: error`.

![image](https://cloud.githubusercontent.com/assets/3008007/24100751/d7ff5d1e-0d75-11e7-8a0d-ffcdd40f607f.png)

It is [triggered](https://github.com/Wo

[2017-03-20 14:07] pavelevap opened #1195 "Quick edits for drafts not tracked"
When I edit post title for draft through standard WP editor page, everything works. But when I change post title for draft with the help of quick edit feature, this change is not tracked by VersionPress.

I am not sure yet about the cause.

[2017-03-20 14:12] pavelevap opened #1196 "Missing static for capitalize()"
Error from PHP logs: `PHP Deprecated:  Non-static method VersionPress\Utils\AutocompleteUtils::capitalize() should not be called statically in .../public/wp-content/plugins/versionpress/src/Utils/AutocompleteUtils.php on line 64`

Probably missing `static` in [capitalize()](https://github.com/versionpress/versionpress/blob/325cd8335b4083a17d2e489c5b72b018f7f103eb/plugins/versionpress/src/Utils/Aut

[2017-04-12 12:27] pavelevap opened #1197 "Problems with shortcodes without attributes"
There are following warnings during `.xml` data import ([example](https://wpcom-themes.svn.automattic.com/demo/theme-unit-test-data.xml)) or cloning site (see https://github.com/versionpress/support/issues/93):

[code]

It can be caused for example by [gallery](https://codex.wordpress.org/Gallery_Shortcode) shortcode `[gallery]` without attributes, because method [createReplaceCallback()](https://

[2017-04-12 17:27] pavelevap opened #1198 "Parse special query() queries"
Queries from WordPress core using `query()` method were implemeneted in #510. But plugins are using some other queries, see example from PHP `error_log`:

`Unknown column 'b.option_name' in 'where clause'.`

`Query: SELECT option_name FROM wp2_options AS a WHERE a.option_name LIKE '\\_transient\\_%' AND a.option_name NOT LIKE '\\_transient\\_timeout\\_%' AND b.option_name = CONCAT( '_transient_tim

[2017-04-12 19:52] pavelevap opened #1199 "Permision denied for wp-config.php"
VP should take also file permissions into account. Several security plugins change permissions for `wp-config.php` and other files. I tried to remove write access to this file and after activating VP there were several errors:

[code]

VP is checking write access to some directories with [tryWrite()](https://github.com/versionpress/versionpress/blob/0eeb12d4208ed195abec54ba327eea9553f525c4/plugins

[2017-04-12 23:36] borekb commented on #1199
File permissions, should they be done properly, will be quite involved:

- As you correctly pointed out, the current `tryWrite()` does not cover everything.
- It should run regularly, not just on activation.
    - (This includes all the checks; that the site passed once doesn't mean it still passes.)
- Security plugins, or whatever causes the incompatibilities, will fight with VersionPress over pe

[2017-05-07 14:39] borekb commented on #1124
Planned for 4.0-beta. On the backend side, this is basically just adding the markup (in an ideal case, no code change required), on frontend, the v1 might just ignore the markup, v2 then work with it and enhance the user experience. cc @vasek17

[2017-05-07 14:42] borekb commented on #1095
With our experience with Blueprint from other projects, we should re-evaluate whether to do this :) Sometimes, a well-written router is enough or even better.

Moving to post-beta for now.

[2017-05-07 19:06] borekb opened #1200 "Required versions of WordPress, PHP and Git for 4.0-beta"
Before releasing 4.0-beta, we should consider after some time again what versions to require. I think it should be:

- **WordPress ~~4.7~~ 4.8** (why not)
- **PHP 5.6+** (no change here).
- **Git 2.x**. We'll likely still technically support 1.9 but there have been many 2.x releases in the meantime and having up to date Git is strongly recommended.

---

- [x] Update RequirementsChecker
- [x] Docs

[2017-05-07 19:08] borekb commented on #658
No longer valid, newer issue about system requirements: https://github.com/versionpress/versionpress/issues/1200

[2017-05-07 19:08] #658 closed

[2017-05-07 19:12] strarsis commented on #1200
Would this release be stable enough to be used on production without warning?

[2017-05-07 19:21] borekb commented on #1200
Hi @strarsis, v4 will be much closer to it but still marked as "developer preview". I plan to publish a blog post soon explaining the roadmap in more detail; you guys deserve it.

[2017-05-07 19:49] borekb commented on #883
As some of the issues linking here (#1147, #1148) show, this should be done. The best milestone for it is 4.0-beta, let's see if we can manage to squeeze it there.

[2017-05-07 19:57] borekb commented on #1025
Related is Rich action messages (markup) #1124, we should discuss this post-beta.

[2017-05-07 21:30] borekb commented on #382
As links are basically deprecated since [WordPress 3.5](https://wordpress.org/news/2012/12/elvin/) (released December 2012) and supported only via the [Link Manager plugin](https://wordpress.org/plugins/link-manager/), I think that VersionPress shouldn't support them at its core either. The support can be added via a plugin definition if anyone is interested in that.

[2017-05-07 21:30] #382 closed

[2017-05-07 22:11] borekb opened #1201 "'Early Access' -> 'Developer Preview'"
The term "Early Access" it [commonly associated](https://en.wikipedia.org/wiki/Early_access) with paid preview programs which made sense before [VersionPress was open-sourced](https://blog.versionpress.net/2016/04/going-open-source/) but now creates some confusion. Let's switch to **"Developer Preview"** which should be clearer.

- [x] Update same places as with EAP -> Early Access switch, https:/

[2017-05-08 14:09] wokadeh opened #1202 ""Error: Maintenance mode couldn't be switched.""
VersionPress version 3.0.2
WordPress version 4.7.4
php 7.0.15-0 ubuntu0.16.04.4
git version 2.7.4

I got his failure pulling to my Staging system from my Live system:

[code]

Why do I get this error?
What can I do to prevent it?
Why do I get the error doing this command as root when I already use the flag --allow-root?

Best regards

[2017-05-08 14:47] borekb commented on #1202
Hi, this is a support issue, could you please open a new ticket [here](https://github.com/versionpress/support)? Thank you.

[2017-05-08 14:56] JanVoracek commented on #1202
Actually, it is a bug in our WP-CLI commands. It is already reported here: https://github.com/versionpress/versionpress/issues/1049. Generally, `wp vp` commands does not work with the `--allow-root` parameter because internally they call another WP-CLI commands and do not pass the parameter.

[2017-05-08 14:58] #1202 closed

[2017-05-08 20:33] borekb commented on #1173
Thanks, sounds reasonable, we'll see what we can do.

[2017-05-08 20:38] #1155 closed

[2017-05-08 20:39] borekb commented on #1151
I think this will generally be tricky to support. What do you think @JanVoracek?

[2017-05-08 22:23] borekb commented on #1188
@pavelevap https://github.com/versionpress/versionpress/commit/2ab13439b8a67e5334e6aa69eba086fef4ff889a looks good, could you please create a PR for it? Thanks.

[2017-05-08 22:27] borekb commented on #1183
@mravery Would you mind creating a PR with the proposed solution? It looks good!

[2017-05-08 23:01] borekb commented on #1192
Duplicate of https://github.com/versionpress/versionpress/issues/1192.

[2017-05-08 23:02] #1192 closed

[2017-05-08 23:22] #1084 closed

[2017-05-08 23:33] borekb commented on #971
- UI is fixed by #1009
- Whether to add `[VP]` prefix will be decided with #979 so this one can be closed.

[2017-05-08 23:33] #971 closed

[2017-05-08 23:39] borekb commented on #878
Related: 'edit' -> 'update' action verb #1120

[2017-05-08 23:46] #684 closed

[2017-05-08 23:50] danielbachhuber commented on #684
@borekb In hindsight, how do you feel about this task you embarked upon?

[2017-05-08 23:52] borekb commented on #642
- Dockerized development environment: #1041
- Avoid build steps: unrealistic.

[2017-05-08 23:52] #642 closed

[2017-05-09 00:06] borekb commented on #684
Hi Daniel, VersionPress 4.0 is all about this. It introduces [plugin definitions](https://github.com/versionpress/versionpress/blob/f6be4170265a7d366c0050891f1c857f971cc596/docs/Plugin-Support.md) that are the glue between plugins and VersionPress. There is probably no simpler way as Mergebot, the other database merging project, is building [something similar](https://github.com/deliciousbrains/me

[2017-05-09 00:16] #489 closed

[2017-05-09 00:18] borekb commented on #421
Let's open a fresh issue when (and if) we need it.

[2017-05-09 00:18] #421 closed

[2017-05-09 08:49] JanVoracek commented on #1151
Yes, this will be quite difficult. Tracking is easy but undo / rollback / merge operations will need to handle a lot of "weird" situations.

[2017-05-09 09:20] #1196 closed

[2017-05-09 12:12] borekb opened #1205 "Adopt GitHub Projects for issue prioritization"
- [x] Create GitHub projects, assign issues into them
- [x] Describe the approach [in CONTRIBUTING.md](https://github.com/versionpress/versionpress/blob/4fd75691e8d73712a1c1f7a6195c10fa17cb9596/CONTRIBUTING.md#our-development-process).

[2017-05-09 12:13] #1171 closed

[2017-05-09 12:57] borekb commented on #1205
Created 3 projects for now:

- [4.0-alpha1](https://github.com/versionpress/versionpress/projects/1) (retrospectively; it's closed already)
- [4.0-beta](https://github.com/versionpress/versionpress/projects/2)
- [4.0 final](https://github.com/versionpress/versionpress/projects/3)

I went through all the issue in the [4.0 milestone](https://github.com/versionpress/versionpress/milestone/16) and ass

[2017-05-09 12:57] #1205 closed

[2017-05-09 13:59] #355 closed

[2017-05-09 16:04] borekb commented on #1205
To repeat the most important thing about the milestone / project change:

- Each issue should be assigned to a milestone as previously, no change there. (Milestones are rough categorization.)
- Inside a milestone, each issue should be assigned to one specific project, e.g., an alpha project.

This should be done for both issues and pull requests.

[2017-05-11 14:12] borekb opened #1209 "WpdbCopy cleanup, remove it from PhpStorm inspections"
- [ ] Rename the file (it's not really wp-db.php copy)
- [ ] Document it briefly
- [ ] Remove it from PhpStorm inspections, it generates a lot of "duplicate class definition" issues.

[2017-05-11 14:15] borekb opened #1210 "Adopt PHPStan"
https://github.com/phpstan/phpstan

[2017-05-12 07:05] borekb opened #1211 "Remove 'in progress' and 'in review' labels"
We used to use overv.io to manage issues in this repository but have switched to GitHub Projects recently (#1206). We can get rid of the `in progress` and `in review` labels in this repo.

![image](https://cloud.githubusercontent.com/assets/101152/25986955/2a88005e-36f2-11e7-91f2-f93cf92a0c41.png)

[2017-05-12 07:06] borekb commented on #1211
Labels removed.

[2017-05-12 07:06] #1211 closed

[2017-05-12 09:38] SnakeO opened #1212 "4.0-alpha1 does not unzip"
I'm on a Mac, running 10.11.4

I downloaded this zip file:
https://github.com/versionpress/versionpress/releases/download/4.0-alpha1/versionpress-4.0-alpha1.zip

It downloads, and begins unzipping:
https://wow-ss.s3.amazonaws.com/WuIuNcv.png

Looks like it's about to complete, then I get this message at the end:
https://wow-ss.s3.amazonaws.com/iop2oEk.png

It only happens with the 4.0-alpha1 -- th

[2017-05-12 10:19] borekb commented on #1212
Hi, we're already tracking this issue here: https://github.com/versionpress/versionpress/issues/1138

[2017-05-12 10:19] #1212 closed

[2017-05-12 10:21] SnakeO commented on #1138
Ya'll should replace your zip file with the one @Dave3o3 gave

[2017-05-12 10:24] borekb commented on #1138
@SnakeO can you confirm that it works well? If so, I'll upload it.

[2017-05-12 10:33] SnakeO commented on #1138
Yes, confirmed.

[2017-05-12 11:11] borekb commented on #1138
I've re-uploaded the ZIP, can you please try if it's OK? Thanks.

[2017-05-12 11:13] Dave3o3 commented on #1138
Works like a charm :)

[2017-05-12 11:32] borekb commented on #1138
It was actually originally zipped under macOS, I just unzipped and re-zipped on Windows. It changed the symlinks in `vendor/bin` to standard files and all is OK now.

We'll update the Gulpfile in https://github.com/versionpress/versionpress/pull/1143.

[2017-05-12 14:49] borekb opened #1213 "Update dev setup and dependencies for 4.0-beta"
I'd like to review our dev setup for 4.0-beta. Some of the things already have their own issues but it might be easier to do all of the updates in a fewer number of PRs (probably still multiple).

- [x] Update VP project (PHP). Done mostly in Dockerized dev setup, https://github.com/versionpress/versionpress/pull/1227.
- [x] Update frontend project (TypeScript / React): PR https://github.com/versi

[2017-05-14 09:26] borekb opened #1215 "LF line endings for all project files"
All files committed to Git should use LF line endings.

- [x] `.gitattributes` should be updated for Git 2.10 which finally supports the simple `* text=auto eol=lf` without the need to list all file extensions explicitly (we currently [only handle `.php` only anyway](https://github.com/versionpress/versionpress/blob/99130c35d1937fe467c11be7c785417c491f4858/plugins/versionpress/.gitattributes))
- [

[2017-05-14 09:27] borekb commented on #1215
There are quite a few CRLF files in the repo:

[code]

[2017-05-14 11:44] #1215 closed

[2017-05-14 13:52] pavelevap opened #1217 "Compatibility for WordPress 4.8"
WordPress 4.8 will come with some new features, we will have to update definitions:

- [x] Define entities for `attachment_id` in `widget_media_audio`, `widget_media_image` and `widget_media_video` options.

[2017-05-15 12:09] #728 closed

[2017-05-15 23:14] borekb opened #1219 "Docs issues from the retired `docs` repo"
The `docs` repo is being retired (https://github.com/versionpress/versionpress/pull/1218), here are the currently open docs issues that should be resolved here:

- [ ] Document post tracking flow https://github.com/versionpress/docs/issues/6
- [ ] Document configurable entity ignoring (#511) https://github.com/versionpress/docs/issues/12
- [ ] Transfer release notes to the main repo https://github

[2017-05-15 23:17] borekb opened #1220 "Docs deployment mechanism after repo merge"
We host https://docs.versionpress.net/ on our versionpress.com infrastructure, it needs to be updated after the `docs` repo merge https://github.com/versionpress/versionpress/pull/1218.

(This is about updating the deployment mechanism, not a one-time deployment of the current docs.)

[2017-05-15 23:17] #1113 closed

[2017-05-16 09:29] borekb opened #1221 "Adopt CHANGELOG.md"
We try to communicate release changes clearly and so far, we've been doing that via a [release-notes section of the documentation](https://docs.versionpress.net/en/release-notes) ([these MD files](https://github.com/versionpress/versionpress/tree/master/docs/content/en/09-release-notes) in this repo). But it would be better in two places:

- GitHub releases – we already have an issue for that in h

[2017-05-16 09:33] borekb opened #1222 "Docs updates before 4.0 final"
A collection of things that could improve in the documentation before 4.0 is released:

- Update displayVersion in [`docs/contenet/config.yml`](https://github.com/versionpress/versionpress/blob/73f15b247896a6ac5ba87fc36506b6f3b49f8f10/docs/content/config.yml)
- Remove `/en` from docs URL, I don't think we'll be localizing that anytime soon.
- Update some content: https://github.com/versionpress/ve

[2017-05-16 13:41] pavelevap commented on #1166
There were several changes during last period, see for example: https://core.trac.wordpress.org/changeset/40676 and https://core.trac.wordpress.org/changeset/40099

These changes suggested that `auto-draft` for `customize_changeset` is really **different** than `auto-draft` for standard `post` and VersionPress should track them (it is not a garbage, but important data for users which can be lost f

[2017-05-16 13:45] borekb commented on #1166
Thanks for the links @pavelevap. Any fresh opinions from you, @westonruter?

[2017-05-16 14:25] pavelevap commented on #355
It seems to me a little bit messy :-(

It is not immediatelly clear if `gallery` is `post_format` or `post_type`. I would expect that the first information will be the same (`post_type`) for all post items. Adding info about post format is a great idea, but post formats can be active also for different post types (not only post). For example something like this:

[2017-05-16 17:57] westonruter commented on #1166
I don't think that `customize_changeset` posts should be tracked until they they transition from `auto-draft` status to another status at which point they no longer become transitory. That being said, when you add a new post or page in the customizer, a `post` is created also with the `auto-draft` status and it serves somewhat as a placeholder and stub for when the user will subsequently then fles

[2017-05-17 01:10] Mac1an commented on #1217
Thank you.

[2017-05-17 01:10] Mac1an commented on #1217
Looking forward to it.

[2017-05-17 16:41] #1201 closed

[2017-05-17 20:00] borekb commented on #1166
Great info, thanks!

[2017-05-18 08:19] JanVoracek commented on #1182
We need to adjust [this function](https://github.com/versionpress/versionpress/blob/0e3dea27d3d070fc8ca7d3ba9d6271170f2263c6/plugins/versionpress/src/Database/VpidRepository.php#L207-L210).

[2017-05-18 09:23] pavelevap opened #1224 "Handle null bytes for serialized objects"
`.ini` files are marked as binary.

![image](https://cloud.githubusercontent.com/assets/3008007/26195422/0ef298f8-3bbc-11e7-90ba-7dedd1cc5dca.png)

Example from Freemius (implemented in NextGEN Gallery).

![image](https://cloud.githubusercontent.com/assets/3008007/26195293/9112360a-3bbb-11e7-823b-d3e56c047ceb.png)

POC: https://repl.it/HyFj/2

[2017-05-18 20:07] pavelevap opened #1225 "vp_term_taxonomy not deleted from post entity"
When you change (or delete) term from post, `vp_term_taxonomy` should be also deleted from related post `.ini` file.

From source [code](https://github.com/versionpress/versionpress/blob/0e3dea27d3d070fc8ca7d3ba9d6271170f2263c6/plugins/versionpress/src/Database/WpdbMirrorBridge.php#L321):

`$referenceDetails = $this->dbSchemaInfo->getMnReferenceDetails($parsedQueryData->table);`

`getMnReferenceDe

[2017-05-21 08:27] borekb opened #1226 "WPLANG regression in v4.0"
Originally resolved in #450 for VP 2.0, WPLANG shouldn't beat real options. It currently happens on VersionPress 4.0-alpha1:

![image](https://cloud.githubusercontent.com/assets/101152/26282330/159e6956-3e10-11e7-8278-7829287be8ec.png)

[2017-05-21 09:53] borekb commented on #1041
I've started playing with this, let's see how far I can get. My todo list:

🏃 = work in progress

- [x] Build a basic Docker-based environment:
    - [x] WordPress latest on PHP 5.6
    - [x] WP-CLI and Git inside it
    - [x] MySQL
    - [x] Adminer
- [x] Map `<repo>/plugins/versionpress` into the container
- [ ] Git on the host should be able to inspect site repo
- [ ] DB tools on the host shoul

[2017-05-28 17:01] JanVoracek commented on #1165
The name should be fine. URL encoding is safe for paths.

[2017-05-28 18:24] borekb commented on #1165
I'll test on Windows to try to reproduce @pavelevap's bug (https://github.com/versionpress/versionpress/issues/1165#issuecomment-266302821).

[2017-05-29 10:00] #1191 closed

[2017-05-29 10:01] #1224 closed

[2017-05-29 17:50] #1226 closed

[2017-05-29 20:21] borekb opened #1232 "Dynamic action priorities"
PR #1228 implemented new filter `vp_action_priority_{$scope}`, see [diff](https://github.com/versionpress/versionpress/pull/1228/files#diff-feab111b185fcb349da028835e5b80b5), but there has also been some discussion about other options. Specifically, @pavelevap noted that special WPLANG handling is not evident from the [`actions.yml`](https://github.com/versionpress/versionpress/blob/e900860b1cb990

[2017-05-29 20:22] borekb commented on #1232
Resolved by #1228.

[2017-05-29 20:22] #1232 closed

[2017-05-30 14:03] pavelevap opened #1233 "Support for wpdb::replace"
Plugins can use [replace()](https://developer.wordpress.org/reference/classes/wpdb/replace/) method for database queries (WP core does not use it).

Problem is related to WooCommerce, particularly to [this](https://github.com/woocommerce/woocommerce/blob/c16acc6b5104acb0ed082e7df1c63dfd77598459/includes/class-wc-session-handler.php#L177) query.

[2017-05-30 14:11] pavelevap opened #1234 "Support serialized arrays inside serialized arrays"
Plugin developers can use [maybe_serialize()](https://codex.wordpress.org/Function_Reference/maybe_serialize) function for serialized (partly) data and serialized string will be serialized again.

Related problems:

- Wrong display of these data.
- Null bytes problems #1224
- Definition of entities is not possible.

Example from WooCommerce: [B05847D36D6248E2A76B4847462F0528.zip](https://github.co

[2017-05-30 14:35] borekb commented on #1234
👍

In the INI files, the serialized sections could be nested like this:

[code]

In `schema.yml`, there would need to be a new syntax extending the [current one](https://github.com/versionpress/versionpress/blob/e900860b1cb990edcb3a309bd3818f6115ce2f04/plugins/versionpress/.versionpress/schema.yml#L121-L128). Some possible formats:

[code]

[2017-06-02 13:07] chazragg opened #1235 "parse error when i try to clone my site"
so i would like to implement versionpress onto my current website but i seem to be running in an issue

the command i am using is wp vp clone --name=test --require=wp-content/plugins/versionpress/src/Cli/vp.php

(reason i use --require is because 1and1 runs php 5.5 and it is required :P)

when i run the command it says there is a parse error: syntax error, unexpected '.', expecting '&' or variable

[2017-06-02 13:51] borekb commented on #1235
Hi, this is a support issue, could you please open a new ticket [here](https://github.com/versionpress/support)? Thank you.

[2017-06-02 13:51] #1235 closed

[2017-06-06 07:37] pavelevap commented on #1217
I went through [developers docs](https://make.wordpress.org/core/tag/dev-notes+4-8/) and I did not notice anything else relevant to VersionPress.

[2017-06-07 08:31] #1188 closed

[2017-06-07 09:27] JanVoracek commented on #1146
We should fetch the entity from DB in `WpdbMirrorBridge::processInsertQuery`.

[2017-06-07 09:28] JanVoracek commented on #1141
Duplicate of #1183.

[2017-06-07 09:28] #1141 closed

[2017-06-07 09:48] JanVoracek commented on #1195
Can you please find the cause?

[2017-06-07 11:25] borekb commented on #1120
Note: backwards compatibility (not breaking sites with commits from older VP versions) can be added by mapping `edit` to `update` in [TrackedChangeInfo](https://github.com/versionpress/versionpress/blob/309afae43579d350a619a12088ea830c9d23056a/plugins/versionpress/src/ChangeInfos/TrackedChangeInfo.php#L134).

[2017-06-07 11:36] borekb commented on #1164
1. Regex `\d` could be used here.
2. Do you have an example of how this would look? Thanks.

[2017-06-07 13:11] pavelevap commented on #1164
ad 2) Examples:

- Default Twenty Seventeen: We can use hardcoded option `theme_mods_twentyseventeen`, but child themes will be not supported.
- Child theme: We can use asterix `theme_mods_*` for handling different options, for example `theme_mods_twentyseventeen-child`, etc. It is common to use parent theme name in child theme, for example `twentyseventeen-child`, but it is not required and it ca

[2017-06-07 14:51] borekb commented on #1164
I see, so `theme_mods_*` is perfectly fine in something like `wp-content/themes/twentyseventeen/.versionpress/schema.yml` (or whatever ends up being the path for theme schemas) but might cause conflicts in the core `schema.yml` file, correct?

Would something like `theme_mods_twenty*` be a reasonable workaround until theme schemas are supported properly?

[2017-06-07 15:05] pavelevap commented on #1164
Yes, exactly!

Yes, this workaround should work for most of child themes and it is probably the best solution for now. I will add related commit and we should finally take care of this problem in #1176.

[2017-06-08 09:54] borekb opened #1238 "Unify reference types in schema.yml"
Up for discussion but maybe we could unify all types of references under the `references` key in `schema.yml`. Here is a quick example of how a [value reference](https://github.com/versionpress/versionpress/blob/309afae43579d350a619a12088ea830c9d23056a/docs/Plugin-Support.md#value-references) would be transformed:

[code]

This would make it nicely consistent with standard references, IMO:

- `opt

[2017-06-09 08:36] #1234 closed

[2017-06-10 23:18] landsman commented on #1190
Please how this is looking?
I want make one command for install.

[2017-06-10 23:20] landsman commented on #939
It will be good!

[2017-06-10 23:28] borekb commented on #1190
It's scheduled for 5.0, we won't have time to do it sooner, unfortunately.

[2017-06-10 23:32] landsman commented on #1190
I think that is very important thing in developer's world. I am still confused from this project. Is still in not in some stable version, not clear install process but I see potential. Can I help you with something?

[2017-06-10 23:37] borekb commented on #1190
What's your use case for having VP core as a composer package? Note that this is about _core_, not the entire plugin.

[2017-06-10 23:39] landsman commented on #1190
Oh sorry, I was think install all "stack" by composer. It is easier, right?

[2017-06-10 23:42] borekb commented on #1190
What do you mean by "stack"? Dev stack if you want to be developing VersionPress itself? A plugin to be installed into your site?

[2017-06-10 23:43] landsman commented on #1190
I was think that is not possible install this plugin to old site, but just install fresh WordPress with it.

[2017-06-12 06:53] #1169 closed

[2017-06-12 06:54] #1164 closed

[2017-06-12 06:55] #1167 closed

[2017-06-12 10:00] #1217 closed

[2017-06-15 01:01] strarsis opened #1242 "[Question] (Media) files?"
Does VersionPress also versionize media files? Does it intelligently skip the files generated automatically (e.g. for multiple resolutions)? If not, what tool would work great together with VersionPress? The uploads/ folder content should be in sync with the VersionPress state for a specific backup point (in time) - otherwise media files or other files used by plugins may be missing after restorin

[2017-06-15 08:26] pavelevap commented on #1242
Hi @strarsis,

sorry, not yet, improvements for media files are planned for version 5.0, please see #492.
Currently all media files are tracked and stored in Git repository, which is not very efficient, but it works for all situations. If you have any custom solution for media uploads, you can add your `uploads` path to `.gitignore`.

We have another repo for support issues and you are welcome the

[2017-06-15 09:47] #1242 closed

[2017-06-18 18:26] borekb commented on #1142
With npm@5, I don't see any major benefits to using Yarn (actually, I personally think that npm is currently a bit better because of [Yarn's determinism](https://yarnpkg.com/blog/2017/05/31/determinism/) and the fact that Yarn 0.25 started putting Yarn version into the lock file which creates unnecessary merge conflicts). Feel free to comment or open a new issue if you think Yarn has some major be

[2017-06-18 18:26] #1142 closed

[2017-06-20 14:41] borekb opened #1243 "Online repository for plugin definitions"
After local discovery of plugin definitions in `WP_PLUGIN_DIR/<plugin>/.versionpress` since https://github.com/versionpress/versionpress/issues/1036 and `WP_CONTENT_DIR/.versionpress/<plugin>` since https://github.com/versionpress/versionpress/issues/1176, the final step is to have an online repository of the definitions. It will be open to anyone to contribute (not just plugin authors) and used b

[2017-06-22 09:13] pavelevap opened #1244 "Problems with activation when proc_open disabled"
First mention: https://github.com/versionpress/support/issues/98#issuecomment-310034199

I was able to reproduce and ended with following error:

[code]

[2017-06-22 18:39] borekb commented on #974
I'll need this for dockerized dev setup (https://github.com/versionpress/versionpress/pull/1227) so will do it soon.

[2017-06-22 19:09] borekb opened #1245 "Drop the [#123] commit message convention"
From [CONTRIBUTING.md#contributing-code](https://github.com/versionpress/versionpress/blob/master/CONTRIBUTING.md#contributing-code):

We'll drop this convention, it's not very common and it's relatively straightforward to navigate from a commit to a PR and then an issue on GitHub.

[2017-06-26 13:30] #1146 closed

[2017-06-26 14:30] #1197 closed

[2017-06-27 12:16] #1195 closed

[2017-06-27 12:49] #1186 closed

[2017-06-29 08:21] borekb commented on #878
Will be resolved with Rich action messages (markup) #1124

[2017-06-29 08:21] #878 closed

[2017-06-29 22:36] borekb commented on #1120
I've started looking at this and this caught my attention, [from actions.yml](https://github.com/versionpress/versionpress/blob/3eefd969dafa8ec00e9504994a26fe8c48f92728/plugins/versionpress/.versionpress/actions.yml#L13-L16):

[code]

We have both the `post/edit` and `post/update` actions there, however, I don't see any tests for `post/update` and generally can't find any reference about it anywhe

[2017-06-30 00:32] #1245 closed

[2017-06-30 19:49] #1200 closed

[2017-07-02 10:14] JanVoracek opened #1254 "Handle `fresh_site` option"
Option `fresh_site` is set to `1` by default and then set to `0` with e.g. first post (more about `fresh_site` on [Trac](https://core.trac.wordpress.org/ticket/38533#comment:5)). VP should commit it separately to avoid situations like:

1. New post 'My First Post' (+ `fresh_site => 0`)
2. Some work ... 🔨
3. Undo _New post 'My First Post'_ (+ `fresh_site => 1`)

However, sometimes it should be prob

[2017-07-03 11:12] #1107 closed

[2017-07-03 12:47] #1182 closed

[2017-07-03 15:06] #1138 closed

[2017-07-03 15:18] #1049 closed

[2017-07-03 17:32] #1041 closed

[2017-07-03 17:32] #1144 closed

[2017-07-03 17:32] #974 closed

[2017-07-03 17:33] #1213 closed

[2017-07-04 07:22] borekb opened #1257 "Fix remaining tests under Docker for 4.0-beta"
#1227 dockerized the tests but not all of them are passing. Specifically:

UPDATE: this will be for 4.0-beta only, the non-critical updates moved to #1284. This is resolved by PR #1272.

- [x] Some unit tests and other tests are failing for me. Resolved in https://github.com/versionpress/versionpress/pull/1272.
- [x] Read-only mount approach for VP as a plugin is not correct, revert back to copyin

[2017-07-04 07:32] borekb opened #1258 "WP-CLI / Selenium worker switching – revised approach"
Before #1227, end2end tests used to be run with WP-CLI or Selenium workers by switching a value [in `test-config.yml`](https://github.com/versionpress/versionpress/blob/203257484e5855e34cbb78a3e929019ff86e94f5/plugins/versionpress/tests/test-config.sample.yml#L6-L7):

[code]

IMO, this was always a bit of a hack as test-config was created to support various local testing _environments_, not to par

[2017-07-04 07:49] borekb opened #1259 "Travis CI"
With Dockerized tests (#1227) we're ready to set up Travis CI for this repo. Here's their docs page: [Using Docker in Builds - Travis CI](https://docs.travis-ci.com/user/docker/).

---

🏁

- [x] Initial implementation was #1381. We reverted it in #1394 as the tests were failing at that point.
- [x] Tests were improved in #1389 and are passing since #1400.
- [ ] With that, there's a new PR adding T

[2017-07-04 11:12] #1168 closed

[2017-07-04 11:41] #1183 closed

[2017-07-04 11:51] #1154 closed

[2017-07-04 12:09] #1225 closed

[2017-07-04 12:25] #1176 closed

[2017-07-04 12:38] #1120 closed

[2017-07-04 13:04] borekb opened #1263 "4.0-beta release checklist"
- [x] Check that all closed issues are assigned to the correct [4.0 milestone](https://github.com/versionpress/versionpress/milestones/4.0) and the [4.0-beta project](https://github.com/versionpress/versionpress/projects/2). Here's a [useful search filter](https://github.com/versionpress/versionpress/issues?utf8=%E2%9C%93&q=closed%3A2016-10-11..2017-07-10%20no%3Aproject%20-label%3Asupport) (ignore

[2017-07-04 13:09] borekb opened #1264 "Missing activation icon"
Some dashicons problem, probably:

![image](https://user-images.githubusercontent.com/101152/27831302-61b6772a-60ca-11e7-8151-f7875e9f0b1d.png)

[2017-07-04 13:28] borekb opened #1265 "`gulp zip` fails on Node 8.0"
Result of `gulp zip`:

[code]

[2017-07-04 13:35] #1265 closed

[2017-07-04 13:47] borekb opened #1267 "Search produces a lot of JavaScript errors"
The search itself actually worked correctly but the dropdown kept open and there were quite a few JS errors:

![image](https://user-images.githubusercontent.com/101152/27832696-e439fe24-60cf-11e7-96f2-ae217c3040a0.png)

[2017-07-04 14:00] borekb commented on #1165
@pavelevap I've tried the Members plugin, just installed it and activated it. The activation commit seems correct:

![image](https://user-images.githubusercontent.com/101152/27833132-bce777c8-60d1-11e7-9b63-042b7ab0652f.png)

[code]

It correctly updated the `/wp-content/vpdb/options/%3/%3C%3Ctable-prefix%3E%3Euser_roles.ini` file.

Do you see a different behavior?

[2017-07-04 14:26] pavelevap commented on #1165
Ah, you are right. I tested it once again and it works, maybe as a part of different action (activation)?

Or maybe it is some other problem related to Members plugin (unsupported action)? I am not sure yet.
After plugin activation you can go to `wp-admin/users.php?page=roles&action=edit&role=editor` and grant or deny any capability (and save). There will be uncommitted changes, but maybe it is no

[2017-07-04 19:51] borekb commented on #1165
Thanks for the additional info, it might indeed be something else. This will need more time for further inspection, I'm moving it post-beta.

[2017-07-05 08:00] #1267 closed

[2017-07-05 16:51] pavelevap commented on #1264
It is related to [Shiny updates](https://make.wordpress.org/core/2016/07/06/shiny-updates-in-4-6/) in WordPress 4.6. There were some fixes for back compatibility (for example [here](https://core.trac.wordpress.org/ticket/37504)), but VP solution did not pass.

Function [vp_display_activation_notice()](https://github.com/versionpress/versionpress/blob/ccb7442229da1c9697ecdd06551a7bb9d8ea5c93/plugin

[2017-07-07 07:44] vukhanhtruong opened #1273 "Can not commit changes to Git"
Here are steps I was followed:

- Resolved the conflict
- Commited changes to Git  **=> I got stuck here**
- Ran wp vp apply-changes to have them reflected on the staging site

That is the message I got  "fatal: could not open '.git/COMMIT_EDITMSG': Permission denied"
So, I can not push my changes to Live site.

Thanks for your support.

[2017-07-07 07:54] borekb commented on #1273
You have to have permissions to write to the site files (they can be owned e.g. by `www-data` or something). Can you check that the permissions are right?

If you need to follow this conversation, please open a new ticket in the [`support` repo](https://github.com/versionpress/support)? Thank you.

[2017-07-07 07:55] pavelevap opened #1274 "Use `vp_entity_should_be_saved_{$entity}` filter on initialization"
Example: Create some subcategory on clean WP site to allow `category_children` to be created in database. Then activate VersionPress and `category_children.ini` file is created. Go to Posts - Categories and create some category, you will see that `category_children` was deleted.

![image](https://user-images.githubusercontent.com/3008007/27948295-a68692fa-62f9-11e7-91a8-8a6e7cfa996c.png)

All `{$t

[2017-07-07 08:12] vukhanhtruong commented on #1273
Permissions are right. I solved it by deleting .git/COMMIT_EDITMSG. Weird!
Thank you very much for your support. Keep your good work up.

[2017-07-07 08:12] #1273 closed

[2017-07-07 08:48] pavelevap opened #1275 "Overview and Full diff mode does not match"
Example: Go to Customizer (on clean WP install with 2017 theme), starter content is automatically applied in preview window. Click "Save & Publish" button, following 3 commits are generated:

![image](https://user-images.githubusercontent.com/3008007/27949948-df1e0426-62ff-11e7-9e28-84f90a4526e7.png)

Look at second commit "Created 2 terms". When you switch from "Overview" to "Full diff", you can

[2017-07-07 08:52] JanVoracek commented on #1274
`vp_entity_should_be_saved_{$entity}` filters should be used on initialization. I will update the title of this issue.

[2017-07-07 09:53] borekb commented on #1257
If we need to run some code, e.g., site setup before each test suite in phpunit.xml, here is a [useful Stack Overflow question](https://stackoverflow.com/questions/10896293/phpunit-setup-before-running-first-test-and-tear-down-after-running-last-test).

[2017-07-07 13:59] #1274 closed

[2017-07-07 14:01] pavelevap commented on #1165
It looks that problem is probably [here](https://github.com/versionpress/versionpress/blob/c6a14cc5b3bcbffeefbd1505ae2aa3c80d34c068/plugins/versionpress/src/Git/GitRepository.php#L48).

`git add -A C:\www\wordpress475/wp-content/vpdb/options/%3/%3C%3Ctable-prefix%3E%3Ebeta_tester_stream.ini`

returns: `fatal: pathspec 'C:\\www\\wordpress475/wp-content/vpdb/options/%%3/%%3C%%3Ctable-prefix%%3E%%3Eb

[2017-07-07 14:05] borekb commented on #1165
What's your `git --version`?

[2017-07-07 14:18] JanVoracek commented on #1275
It's caused by a combination of `TermTaxonomyPreprocessor` and `vp_entity_files_term_taxonomy` filter.
A set of ca. 150 changes is split into two groups by the preprocessor. One group with terms and term_taxonomies, second group with the rest (posts, postmeta, options, ...).

The problem is that any change in term_taxonomies commits also all options (because of menus). Therefore, the second commit

[2017-07-07 14:28] pavelevap commented on #1165
Hmmm, strange version, `2.11.0.windows.3`, I will try to update to latest.

[2017-07-07 22:21] borekb opened #1278 "Undo of rollback didn't run synchronizers properly"
Just observed this behavior:

1. I've started the site with a title "vp22", then changed it to "Test VP" via wp-admin.
2. Later, I've done a rollback to a previous state which also reverted the `blogname` option:
    ![image](https://user-images.githubusercontent.com/101152/27978973-fa3861b6-6372-11e7-82cb-fbcc12c38f93.png)
3. I've done Undo on this rollback commit which produced the correct diff:

[2017-07-08 10:20] borekb opened #1279 "Empty strings in vp-internal WP-CLI commands fail on Windows"
`wp vp clone` command fails on Windows because when it comes to [calling an internal `update-config` command](https://github.com/versionpress/versionpress/blob/a94dc0d3ea6fabb7bbefac649efc2905d5e555b5/plugins/versionpress/src/Cli/vp.php#L1161) with an empty string e.g. for `DB_COLLATE` wp-config constant (`wp vp-internal update-config "DB_COLLATE" "" ...`), the `update-config` command receives a q

[2017-07-08 22:13] #1279 closed

[2017-07-08 23:01] borekb opened #1281 "`wp vp pull` fails because of incorrect username and email in local Git config"
I've done `wp vp clone` and shortly after that `wp vp pull`. I got this error:

[code]

It turns out that VersionPress left this in `.git/config`:

[code]

Might be a Windows-specific issues, when I run workflow tests in Docker, they pass.

[2017-07-08 23:32] #1281 closed

[2017-07-09 15:04] borekb opened #1284 "Fix remaining tests under Docker, post-beta"
Previous issues: dockerized tests #1227, fix remaining tests under Docker for 4.0-beta #1257.

These are some non-critical things that we should resolve after beta / for 4.0 final:

- [ ] Re-enable and update [`ActivationDeactivationTest`](https://github.com/versionpress/versionpress/blob/e17f0602ffe49679517a2921e4edf34cfe9b1c46/plugins/versionpress/tests/Selenium/ActivationDeactivationTest.php#L1

[2017-07-09 15:06] borekb commented on #1257
I've re-purposed the issue and updated the title to only be about critical fixes for 4.0-beta which have been merged in #1272. The remaining tasks were moved to #1284.

[2017-07-09 15:07] #1257 closed

[2017-07-09 17:18] borekb commented on #1263
🎉

4.0-beta is out

[2017-07-09 17:18] #1263 closed

[2017-07-13 10:22] TomJacobsUK commented on #1145
I've attempted at adding Versionpress support to a number of plugins, although lack of JSON support is a really killer in getting a site fully compatible.

As anything that references id's in json can't be updated by VP's vpid, that then requires the id to be used as reference. Although in the multi-envroment workflow I'm trying to use, it causes more issues with data overriding.

It is a beta and

[2017-07-13 10:56] borekb commented on #1145
@TomJacobsUK Could you post some examples of plugins and their JSONs so that we have real-world use cases to base the support on? That would be very useful. Thanks!

[2017-07-13 14:29] seagyn commented on #939
Could you not have a separate build that pushes the plugin directory to a separate repo? Only running on tagged releases etc.

[2017-07-13 14:34] borekb commented on #939
Yes, that's most likely the way to go. The core team will need to focus on feature development first, would there be any volunteers to help set up the separate repo and the necessary build scripts?

[2017-07-13 18:02] seagyn commented on #939
I would be interested in helping to do that. What would something like that look like?

[2017-07-13 22:42] borekb commented on #939
I think a good start would be a manual script that would publish the latest tag from `versionpress/versionpress` to another repo (can be your own to begin with; we'd then probably provide some official location under the `versionpress` GitHub organization). It would need to do something similar to the [production build step](https://github.com/versionpress/versionpress/blob/8244d42a267d2041c09eaf0

[2017-07-17 18:14] TomJacobsUK commented on #1145
This isn't probably the best use case, as it is a commercial plugin and theme by [Yootheme](https://yootheme.com/), and they don't tend to follow WP coding standards, but it is a real use case. I might be able to find a better free example for a test later on...

_It's 2 different uses of JSON, first being closer to the actual issue._

## Case 1 - Plugin (external database field)
**Plugin:** [Widg

[2017-07-17 18:33] borekb commented on #1145
Thanks for all the details, it's much appreciated!

[2017-07-19 15:07] amenk opened #1285 "Serialization of closure not allowed"
We try to add a menu in Design -> Menus and get an internal server error.

The following is logged:

	[Tue Jun 27 14:26:20.458132 2017] [:error] [pid 27765] [client 217.19.191.138:47971] PHP Fatal error:  Uncaught Exception: Serialization of 'Closure' is not allowed in /var/www/example/web/public/wp-content/plugins/versionpress/src/Git/Committer.php:314\nStack trace:\n#0 /var/www/example/web/publi

[2017-07-19 15:16] borekb commented on #1285
Thanks for reporting and sorry for the trouble.

@pavelevap could you please try to investigate this?

[2017-07-19 16:50] wademac commented on #1029
I would love to see this do multisites :)

[2017-07-20 07:25] pavelevap commented on #1285
Hi @amenk,

I tried to reproduce your issue (also with mentioned Polylang plugin), but I did not run into similar error.

Could you please describe steps to reproduce this issue? What do you exactly mean by "adding a menu"?

Do you use latest version 4.0-beta? Could you give us info about your [environment](https://docs.versionpress.net/en/troubleshooting/system-info-page)?

[2017-07-20 07:34] amenk commented on #1285
I mean Desgin -> Menus -> Choose an existing page -> click "add to menu".

[2017-07-20 08:07] pavelevap commented on #1285
Yes, I tried it, but page was successfully added to menu, no error message. Maybe it is related to some Polylang settings?

But I can see menu Appearance - Menus and no "Choose an existing page" option? Maybe "Design" menu is related to some other plugin (for example visual builder)? Could you please upload screenshot of this page?

[2017-07-21 09:47] pavelevap commented on #1285
@amenk: Do you mean this menu administration screen?

![image](https://user-images.githubusercontent.com/3008007/28458447-069f53fa-6e0a-11e7-826b-9ed4f4ea6de5.png)

Could you also give us technical info about your [environment](https://docs.versionpress.net/en/troubleshooting/system-info-page)?

[2017-07-21 10:21] amenk commented on #1285
no, when you open the pages accordion below the language switcher and then Add to Menu

Environment:

<details>

Quick summary
	array (
	  'wordpress-version' => '4.8',
	  'versionpress-version' => '4.0-alpha1',
	  'operating-system' => 'Linux example 4.4.0-83-generic #106-Ubuntu SMP Mon Jun 26 17:54:43 UTC 2017 x86_64',
	  'php-version' => '7.0.18-0ubuntu0.16.04.1',
	  'php-sapi' => 'apache2handl

[2017-07-21 12:52] pavelevap commented on #1285
Thank you, we are on the same page :-)

It looks like there is some problem with plugin (or their combination). I tried Polylang, but I did not experience this issue, so I am not sure what is the real cause.

Affected line is [here](https://github.com/versionpress/versionpress/blob/4.0-alpha1/plugins/versionpress/src/Git/Committer.php#L314).

1) Could you try to update VersionPress to [latest beta

[2017-07-21 14:10] amenk commented on #1285
Thanks for your efforts. We will try / check that.

[2017-07-28 04:28] pmb6tz commented on #1063
Is this something that's still being considered? Many hosts would require significant reconfiguration every time a new site is created, to make this work if it uses a peer folder rather than a subfolder.

[2017-07-28 07:43] borekb commented on #1063
@pmb6tz We understand the hosting scenario, however, the nested folder structure would create nested Git repositories and we'd need to test whether it works correctly. BTW, you could try that today: just clone to a singling folder, then manually move to a subfolder and fix things like 'home' and 'siteurl'. If you're going to try that, let us know how it goes. Thanks!

[2017-08-04 09:54] ArneDBKey2info opened #1286 "Wordpress/Versionpress doesn't recognize git installation, what do I miss?"
Wordpress-version: 4.8
I installed the latest GIT on my pc
I'm running localhost via XAMPP
Versionpress-Version:  4.0-beta

For some reason I think my GIT version doesn't get recognized.

Screenshot:
https://i.gyazo.com/2f6c7944602ff8caf2575c2b024a7c77.png

Quick summary
[code]
Git
[code]

[2017-08-04 10:09] borekb commented on #1286
Hi @ArneDBKey2info, this is a support issue, could you please open a new ticket [here](https://github.com/versionpress/support)? Thank you.

[2017-08-04 10:09] #1286 closed

[2017-08-28 23:53] ericft opened #1287 "Cannot install the plugin"
VersionPress could not be activated:
https://screencast.com/t/cQ0CwGukeO2

It seems to have an issue with the compilation.

Thank you

[2017-08-29 06:19] pavelevap commented on #1287
Hi @ericft,

how did you install VersionPress? Did you download latest installation `.zip` package from [here](https://github.com/versionpress/versionpress/releases)?

[2017-08-29 08:24] borekb commented on #1287
Hi @ericft, this is a support issue, we have a [support repo](https://github.com/versionpress/support) for that (this repo is used to organize work on code). If you need further help, could you please open a new issue there? Thank you!

[2017-08-29 08:24] #1287 closed

[2017-08-31 08:59] pavelevap opened #1288 "Uncommitted changes in .gitattributes file after cloning website"
See screenshot, `.gitattributes` content is duplicated in cloned website.

![image](https://user-images.githubusercontent.com/3008007/29915040-d7bafb60-8e3a-11e7-8fb6-0e9b2472de0f.png)

[2017-08-31 12:42] pavelevap opened #1289 "Flush update notification after push/pull"
After updating Akismet plugin in staging environment and pulling this change back to production, an update notifications (orange bubbles) are still displayed in production.

It is caused by different transients which are not tracked by VersionPress. So, when you update plugin in staging, `_site_transient_update_plugins` transient is refreshed with current state after update. But pushing/pulling do

[2017-09-07 19:49] adamrl84 commented on #1036
Howdy. My Team and I have been watching this project for a LONG time. I have finally started to play around with it and I'm at a point where I'd like to try helping wherever I can--provided I can convince the boss!

**Specific Inquiry:**
We have a plugin based on ACF that we use to build pages and layouts quickly. It makes extensive use of repeaters, flexible content fields and clone fields. ACF h

[2017-09-12 21:31] ustun commented on #914
See TOML: https://github.com/toml-lang/toml

[2017-09-14 06:17] borekb commented on #914
@ustun TOML seems nice, thanks for the pointer. In practice, it's a bit problematic adopting any niche language and we already switched once (NEON -> YAML, https://github.com/versionpress/versionpress/issues/703), but it's always nice to have options.

[2017-09-14 17:39] erorus opened #1290 "During activation with Debian's wp-config, conditional WP_CONTENT_DIR define is ignored, breaking WP"
On a Wordpress setup created by `apt install wordpress` on Ubuntu 16.04 (and similar), [the wp-config.php file](https://www.apt-browse.org/browse/debian/wheezy/main/all/wordpress/3.6.1+dfsg-1~deb7u10/file/usr/share/wordpress/wp-config.php) contains these lines:

[code]

When Versionpress is installed and first activated, it modifies wp-config.php to move some constants (including WP_CONTENT_DIR) t

[2017-09-16 21:14] francescobianco opened #1291 "Publish plugin in WordPress official repos"
There no is plugin inside official WP repos
https://wordpress.org/plugins/
Did I can put it??

[2017-09-17 06:11] borekb commented on #1291
We will publish VersionPress in the official repository once it leaves the Developer Preview mode. This will take a couple more releases.

[2017-09-17 06:11] #1291 closed

[2017-09-18 07:40] borekb commented on #1290
Thanks for the report. It's indeed a bug but an unpleasant one to deal with as various WP installer might create different `wp-config.php` structures. VersionPress currently assumes more or less standard wp-config and adding some robust checking would probably mean static code analysis or things like that, i.e., not simple at all.

Let us see what we can do.

[2017-09-22 23:18] jpeyret opened #1292 "couldn't add a page to a menu w.o. deactivating VersionPress (alpha1)"
I can't edit menus under **Appearance/Menus, Pages, Add to Menu.**  When I do that the browser cursor goes into spinning mode and doesn't stop, i.e. the change is under way but never completes.

I restarting the browser.  No effect.  Then restarting the vm (`shutdown -r now`) to make sure the wordpress or another process wasn't stuck somehow.  No effect.

What did work was temporarily deactivating

[2017-09-23 16:17] pavelevap commented on #1292
Hi @jpeyret,

sorry for troubles, but I tried clean installation and everything works well.

1) Could you please use latest VersionPress version `4.0-beta` ([download](https://github.com/versionpress/versionpress/releases))?

2) Could you try to use default WordPress theme (for example Twenty Seventeen)? The Ark is premium theme which can cause problems or conflicts.

Do you have any details about

[2017-09-25 07:15] httpiago opened #1293 "I could not install"
I tried installing in many ways but always Wordpress returned a "no valid plugin found" error.
It should be easier to install

[2017-09-25 07:27] pavelevap commented on #1293
Hi @httpiago,

what did you try to install? Did you downloaded latest [version](https://github.com/versionpress/versionpress/releases/download/4.0-beta/versionpress-4.0-beta.zip) from [Releases](https://github.com/versionpress/versionpress/releases) page?

[2017-09-26 11:34] pavelevap commented on #1292
Hi @jpeyret,

if you need further help, could you please open a new issue in our [support repo](https://github.com/versionpress/support)? Thank you!

[2017-09-26 11:34] #1292 closed

[2017-09-26 11:34] pavelevap commented on #1293
Hi @httpiago,

if you need further help, could you please open a new issue in our [support repo](https://github.com/versionpress/support)? Thank you!

[2017-09-26 11:34] #1293 closed

[2017-09-26 21:39] jpeyret commented on #1292
no problem w closing. since I had the workaround (deactivating VisionPress), this was more of a heads up anyway.

if I do encounter it again, I'll reopen and try to provide you with some of the diagnostics info you were suggesting.

[2017-10-05 10:33] pavelevap opened #1294 "Compatibility for WordPress 4.9"
WordPress 4.9 will come with some new features:

- [ ] Define entity for `ids` in `widget_media_gallery` option.
- [ ] Support changesets, see #1166

[2017-10-05 10:52] pavelevap opened #1295 "Track language files deleted together with plugin"
When you delete plugin (for example Akismet), related language files are also automatically deleted. But VP does not support it and creates uncommitted changes.

![image](https://user-images.githubusercontent.com/3008007/31223774-ae5c0ea6-a9cb-11e7-97ac-dcee2a6bc3a2.png)

[2017-10-12 09:14] tanthammar opened #1296 "4.0 beta, service unavailable"
Tried multiple times on different days to activate the plugin.
versionpress 4.0 beta
wp 4.8.2
git-version' => '2.14.1'

After a "very" long time I get this message:

Any suggestions?

[2017-11-02 08:40] Lars- opened #1297 "Using native PHP git"
Is it an idea to replace to git bin with a native PHP implementation of Git? That way, Git doesn't have to be installed on the host (which is a problem sometimes)

[2017-11-02 09:37] borekb commented on #1297
That has been our dream since the beginning, do you have a pure PHP Git implementation that works well and we could use?

We looked carefully two years back and nothing existed back then. After quick googling, this seems like a relatively recent attempt: https://github.com/czproject/git-php but I'm not sure how stable it is.

[2017-11-02 09:40] Lars- commented on #1297
This one looks nice https://github.com/git4p/git4p. I don't know exactly how stable it is and I don't know what commands VersionPress uses, but git4p sounds like an option to me.

[2017-11-07 21:57] borekb opened #1298 "Review spl_object_hash usage"
It's not really a hash function and especially when handling serialized data, it can bite. We use it in [`AbsoluteUrlReplacer.php#L98`](https://github.com/versionpress/versionpress/blob/4fd75691e8d73712a1c1f7a6195c10fa17cb9596/plugins/versionpress/src/Utils/AbsoluteUrlReplacer.php#L98) and [`ChangeInfoEnvelope.php#L155`](https://github.com/versionpress/versionpress/blob/0ecf1d2a49d0e7cf63df88e2380

[2017-11-18 02:40] landsman commented on #1190
Hi @borekb,

how this issue looking?
I want install versionpress via composer - https://wpackagist.org/

Thanks

[2017-11-18 08:58] borekb commented on #1190
@landsman No progress on this right now, it's scheduled for the 5.0 milestone.

[2017-11-19 10:22] landsman commented on #1190
Why? Can I help you with it?
I think that composer support is really important stuff.

[2017-11-19 12:30] borekb commented on #1190
You can certainly have a go at it. (Note again please that this issue is about VersionPress core, not the entire plugin.)

[2017-12-12 08:31] pavelevap opened #1299 "Editing files with CodeMirror editor not tracked in WP 4.9"
![image](https://user-images.githubusercontent.com/3008007/33874463-2f3d6438-df1f-11e7-9244-2a8bb03dcd66.png)

[2017-12-12 09:20] pavelevap opened #1301 "Database errors related to delete_expired_transients() function"
[code]

Probably related: https://core.trac.wordpress.org/changeset/41963

[2017-12-12 11:01] pavelevap opened #1302 "Negative values still considered as entity"
Previously: https://github.com/versionpress/versionpress/issues/1182

![image](https://user-images.githubusercontent.com/3008007/33881053-e305e846-df33-11e7-93bd-45cd49a6c63c.png)

[2017-12-12 11:21] pavelevap opened #1303 "Fatal error with Polylang"
[code]

Probably small mistake by Polylang leads to a fatal error for VersionPress.

[2017-12-12 13:22] pavelevap opened #1304 "Missing custom schemas on cloned site"
- When you clone a site, folder `wp-content/.versionpress/` is missing on cloned site.

On original site I defined postmeta `test` as entity related to `post`. I added value `33` and it was correctly transformed to `337025C11E10459880A239700C41A057` file in VersionPress. But on a cloned site is value `337025C11E10459880A239700C41A057` saved into database for postmeta `test`.

[2017-12-12 13:35] pavelevap opened #1305 "Custom schemas for themes and one-file plugins"
- VersionPress should support custom schemas for themes, for example `wp-content/.versionpress/themes/<theme-slug>`.

- VersionPress mostly supports plugins, but one-file plugins (without folder) are also common, for example default `hello.php` should load custom schema from `wp-content/.versionpress/plugins/hello` (or generally `wp-content/.versionpress/plugins/schema.yml`).

Current workaround i

[2017-12-12 19:06] pavelevap commented on #1303
It seems to me that it is caused by following query (inserting multiple rows into a table): https://github.com/polylang/polylang/blob/852e5b1e616186eb19f8f68c23b29241cdbd8833/admin/admin-model.php#L319

Example: `INSERT INTO wp_term_relationships ( object_id, term_taxonomy_id ) VALUES ( 1, 2 ),( 2, 2 )`

VersionPress probably does not parse this query correctly.

[2017-12-13 10:20] juanitopons commented on #1303
Do you see any solution for integrating Polylang?

[2017-12-13 12:02] pavelevap commented on #1303
@juanitopons: This issue is not the only problem (it is related only to mass assigning languages), I am trying to debug why some relationhips are not correctly tracked by VersionPress.

[2017-12-14 15:32] pavelevap commented on #1303
After some further research it seems to me that problem is not query parsing, but missing entity for `term_relationships` (probably related issue #898).

Example query:
`INSERT INTO wp_term_relationships ( object_id, term_taxonomy_id ) VALUES ( 1, 2 ),( 2, 2 )`

Parsed object:
[code]
I am not sure about `sqlQuery` value, but nevermind.

So `$entityName` in `processInsertQuery()` is `term_relations

[2017-12-14 15:42] juanitopons commented on #1303
Well it sounds quite tricky to solve.
Actually, I'm experimenting weird behaviour when I apply-changes in enviroments cause of PolyLang versionpress bad syncrhonization.

SO, here is my question. Is there a wey to stop VERSIONPRESS versioning specific plugin actions?
I would like to still use Polylang and Versionpress. Even if synchronization can't be stablished.

[2017-12-14 16:06] pavelevap opened #1306 "storeRelatedEntities() does not handle term_relationships correctly"
Polylang is [adding](https://github.com/polylang/polylang/blob/5457c58bdf59c62b2876f5eb627f0f5f4bc23c97/include/translated-post.php#L50) `language` terms to every post during `auto-draft` status (not tracked by VersionPress). Polylang is [using](https://github.com/polylang/polylang/blob/8806f75afa8c7890711e47acc717ec81e2bf165a/admin/admin-filters-post.php#L39) `save_post` action and VersionPress s

[2017-12-14 16:09] pavelevap commented on #1303
@juanitopons: This issue is not a big deal when you do not click to mass setting of default language. See issue #1306, this is the source of sync problems :-(

[2017-12-15 10:25] borekb opened #1308 "Checkboxes for bulk update don't work"
Probably some JS issue:

![vp-multi-select](https://user-images.githubusercontent.com/101152/34037833-84c67152-e18a-11e7-8dcc-5bb300c8043d.gif)

VersionPress 4.0-beta, WordPress 4.9.

[2017-12-15 12:30] #1308 closed

[2017-12-31 13:14] borekb opened #1311 "JSON for plugin definitions"
For people who don't like writing YAML (

[code]

https://twitter.com/rothgar/status/938790206140010498

), we could support JSON as well. Actually, [JSON with comments](https://github.com/Microsoft/vscode/tree/9ec7172f78bf164f4286b4c9796358d0f39c9683/extensions/json) that VSCode uses would be even better – it strikes the right balance between being close to JSON and supporting some essential feat

[2018-01-05 10:59] pavelevap opened #1312 "AbsoluteUrlReplacer: Ignore mysqli instances"
`Fatal error: ReflectionProperty::setValue(): Cannot write property [...]wp-content/plugins/versionpress/src/Utils/AbsoluteUrlReplacer.php on line 105`

Related: https://github.com/versionpress/support/issues/127

Code example to reproduce this error:

[code]

It is probably caused by some plugin which stores serialized `mysqli` instance into WordPress database.

[2018-01-15 07:30] borekb commented on #1291
An update on this:

We still want to publish to the w.org repo after the [Developer Preview](https://docs.versionpress.net/en/getting-started/about-eap) ends (around v5 or v6), however, we've been recently considering publishing it as "VersionPress Preview", slug `versionpress-preview`. The point of this would be to clearly indicate the project status and separate support forums and ratings from t

[2018-01-17 13:15] x1024 opened #1313 ""wp vp activate" doesn't check if VersionPress is already active"
https://github.com/versionpress/versionpress/blob/73ff46674828218c271bbcaf820c50ff4cdf8cd4/plugins/versionpress/src/Cli/vp.php#L164

Steps to reproduce:
* I installed and activated the plugin, then followed the activation procedure in the admin panel of my website. The site was successfully activated, and a .git repo with an initial commit was created in the project's root.
* Then I took a look at

[2018-01-17 13:16] borekb commented on #1313
Thanks, that indeed sounds like a small thing to improve. Would you be willing to send a PR? Thanks!

[2018-01-18 09:25] x1024 opened #1315 ""vp clone" should clone the entire database, not just some tables."
### Issue:
The "vp clone" operation doesn't copy the site's database wholesale, it uses the internal "VP restore" functionality that only restores certain tables.

### Background:
These days it's no longer the expected case that a WP site will only have the default WP tables in its database. There are numerous notable plugins with millions of users that create custom tables (example: iThemes secur

[2018-01-18 10:25] #1313 closed

[2018-01-18 12:35] borekb commented on #1315
Hi @x1024, this is "by design": VersionPress needs to understand the data of a site so anything that doesn't have a [definition](https://github.com/versionpress/versionpress/blob/master/docs/Plugin-Support.md) is neither tracked, nor restored.

An approach mentioned by you in the "Figure out how to version all data in the DB" section is something we've implemented for staging on VersionPress.com b

[2018-01-18 13:37] x1024 commented on #1315
Well, if the result of "vp clone" isn't a clone of the site, then it doesn't do what it should, right?

I would say that "tracking" and "restoring" the contents of custom tables is not a must-have to VersionPress, and that it's fine to not do it. But I believe at least in the "clone" use-case, it should in fact produce a carbon-copy of the existing site.

What compromises and/or workarounds could

[2018-01-18 14:15] borekb commented on #1315
`vp clone` clones the Git repo and restores the site from there. This is consistent with how all the operations work, which is:

1. Do some Git operation
2. Synchronize the changes to the database

If we were to "cheat" with `vp clone`, something else would break down very quickly, for example, `vp push` and `vp pull` would not synchronize custom tables, Undo would not work reliably, etc.

Version

[2018-01-18 14:35] x1024 commented on #1315
I was thinking that a special "Git operation" could be implemented - a "database sync commit". That's a commit that sets the DB to exactly the state it currently is. The commit itself contains the .SQL file created by "wp db export". This could also be exposed as a "wp vp sync-db" subcommand in the CLI, and maybe even in the admin UI.

Then the "vp clone" operation could be implemented as "the git

[2018-01-18 15:19] borekb commented on #1315
I think you're suggesting an approach similar to [Revisr](https://wordpress.org/plugins/revisr/). This indeed makes cloning simple and reliable, but at the same time, the other operations become hard to impossible.

For example, if you did your "db sync commit" in your staging environment in an attempt to migrate everything to the live site, and `vp pull / push` would be implemented so that it app

[2018-01-18 15:38] x1024 commented on #1315
I understand what you mean. If a user has changed posts in Prod and a "sync
commit" is merged from Staging, the changed posts from Prod will be lost.
Is that the issue?
I believe this is merely a communication issue and that a bold red warning
to the user: "Warning, syncing a DB will overwrite everything. Only do this
if you know what you're doing. Proceed: [Y/n]".

Given that what I need to do is

[2018-01-18 16:19] borekb commented on #1315
commit" is merged from Staging, the changed posts from Prod will be lost.
Is that the issue?

Yes, exactly. We'd also need to think what to with situation like if you had 10 commits carefully crafted by VersionPress (GUIDs maintained for all the entities, stored in a diff-friendly format, etc.), then the 11th commit was the "sync db" one and then some more VP commits. That structure will be _very_

[2018-01-18 20:48] x1024 commented on #1315
Alright, that makes sense. I can see how it's risky to have something like
that in a git commit that could potentially later be merged.

Does that objection hold for the case when a new site is being cloned from
an existing site?
I can't see any downsides to running a wp db export + wp db import on the
new site as it's being cloned (provided that these operations are *not* put
in the git tree, and

[2018-01-18 23:17] borekb commented on #1315
Maybe we could do that (with some search & replace in the database but that's not hard) but I'm still not sure about the motivation. If VersionPress misses some tables in the original environment, it will miss them in the clone as well, leading to generally unexpected behavior in one way or another.

Do you have a scenario where it would be useful for `vp clone` to (seemingly) work for custom tabl

[2018-01-19 08:02] x1024 commented on #1315
Most custom tables people use are just logs. That is the case for iThemes
Security, for the analytics plugins my clients are using, and I believe for
Duplicator too.
I need the tables to exist and to have the correct schema in order for the
site to actually work, but the data in them is not essential (for a staging
environment).

On Fri, Jan 19, 2018 at 1:17 AM, Borek Bernard <notifications@github

[2018-01-30 13:36] JanVoracek opened #1316 "Track tables' DDL"
VP should probably track DDL of DB tables so they can be restored on clone.

It could also track DDL of unknown tables (without schema). This could help in situations where the site is broken after clone because some table is missing (the data may not be important – logs etc.).

[2018-02-17 20:57] fabiobfava commented on #1029
I wish we could rely on it for pushing **from** _Live_ to _Staging_ or _Dev_ (_Local_). Not necessairily to reverse, since for me the most important is a reliable _Multi Network Support_, mostly to be able to _test for updates_ on those environments before updating the _Live Sites_.

[2018-03-10 22:47] tannerchung commented on #1243
This would be awesome!  Keen on seeing the yml for theme support!

[2018-03-27 20:52] americloud commented on #1029
I need this as well.

For me its 1 network = 1 DB = 1 repo

Any changes made in the entire WP instance should be version controlled.

Would love to see this very soon! :)

[2018-03-27 20:53] amjad commented on #1029
I need this as well.

For me its 1 network = 1 DB = 1 repo

Any changes made in the entire WP instance should be version controlled.

Would love to see this very soon! :)

[2018-03-30 22:12] pentatonicfunk commented on #1029
my suggestion will be probably hated by everyone
But how about we use central git repo as site-network actions, and another git-repos for each subsite but embedded as submodule or this one <https://github.com/ingydotnet/git-subrepo#readme> pretty interesting

[2018-04-01 23:36] amjad commented on #1029
When will that one day come? This is badly needed, I’m sick of using GoodSync.

[2018-04-02 19:49] borekb commented on #1029
@amjad Realistically speaking, multisite support will not come very soon :/ First, we need to ship VersionPress 4.0 which is quite a bit of work in its own right. Then we'd like to do 5.0 with features that have been neglected in 4.0 (where the focus was almost exclusively on plugin support); there might also be things like Gutenberg compatibility. Only after all that, we can start thinking about

[2018-04-02 20:14] amjad commented on #1029
bummer. So currently if the plugin is installed on the main site of a multi-site install, and since the code base is the same for all multi-site instances, will the changes to any files show up here? I am not very concerned about the database changes at this time, I can rely on the full backups for now. I only care about having source control on my WP files. Will this plugin still work in my case?

[2018-04-02 21:09] borekb commented on #1029
@amjad For files only, you don't need VersionPress; plain Git is more than enough.

[2018-04-06 11:11] juslintek commented on #1029
Tell me what is stopping from making this work, maybe I can fork or you can make a branch for me. I really need this feature.

[2018-04-06 15:36] borekb commented on #1029
@juslintek Awesome that you're willing to help with this! Feel free to fork the repo and send a pull request (or more :) ), here are our contributing guidelines: [`CONTRIBUTING.md`](https://github.com/versionpress/versionpress/blob/master/CONTRIBUTING.md).

[2018-04-20 08:18] josuevalrob opened #1328 "'wp' is not recognized, but wp-cli works fine and versionpress is activated"
What I did:

- Git clone from the repository into new-site
- Install in new-site the versionpress pluing
- Activate the versionpress plugin
- run the wp vp restoresite command
- ` wp vp restore-site --siteurl="http://localhost:8080/new-site"`

It give me the next error:

which means: _Error: Failed creating database. Details:"wp" is not recognized as an internal or external command, program or bat

[2018-04-20 08:36] pavelevap commented on #1328
Hi @josuevalrob,

do you use latest VP version `4.0-beta`? WP-CLI is installed and working? Did you tried to define `VP_WP_CLI_BINARY` (see [details](https://github.com/versionpress/versionpress/issues/1186))?

[2018-04-20 09:07] josuevalrob commented on #1328
VP: Version 4.0-beta
WP-CLI 1.5.0
Commands like` wp db create` works fine.

[2018-04-20 09:10] josuevalrob commented on #1328
I found the problem... I had a problem in my environment variables. But yeah, the problem was related to the location of the wp-cli, the versionpress can not find it.

Thanks

[2018-04-20 09:10] #1328 closed

[2018-04-20 09:15] borekb commented on #1328
@josuevalrob Glad that you got it sorted! We have a [dedicated support repo](https://github.com/versionpress/support) so if you encounter issues like this in the future, feel free to post there.

[2018-04-29 18:02] borekb opened #1330 "Add LICENSE.md to the repo"
License is currently specified here:

https://github.com/versionpress/versionpress/blob/2071052ad33a782e96ca206ccca6891e52bc614f/plugins/versionpress/versionpress.php#L9

but we should perhaps add the `LICENSE.md` file which [GitHub picks up and displays on a repo homepage](https://help.github.com/articles/adding-a-license-to-a-repository/).

[2018-05-07 09:34] pavelevap commented on #1296
Hi @tanthammar,

this problem is usually caused by large database or plugin conflict, see related [issue](https://github.com/versionpress/support/issues/50).
Did you try to use clean install if it works?
How large is your database and how many active plugins?

This a support question and I am closing this issue for now, please create another one in [support repo](https://github.com/versionpress/su

[2018-05-07 09:34] #1296 closed

[2018-05-16 16:04] mugurcagdas opened #1331 "Logo Design"
Dear Sir/Madam,

I am computer engineer and graphic designer. I use your plugin in my customers' websites. I appreciate that.
I am writing you because I want to design a logo for this plugin.
May I ask, do you need a logo for this plugin?

Kindly waiting your answer.

Best Regards,
Musa Ugur Cagdas
Computer Engineer/Graphic Designer

[2018-05-16 16:16] borekb commented on #1331
In a true open source spirit, feel free to send a pull request :)

[2018-05-17 14:33] mugurcagdas commented on #1331
Hello Sir,

I made the design for this plugin.
Did you like my design? We can change any part which you don't like.
I have vector files too. I can send you if you want to.
Could you please let me know that will you use this design? If so I will send you PR.
Kindly waiting your answer :)

![card](https://user-images.githubusercontent.com/35704934/40183971-c236fc10-59f7-11e8-8c68-80fd13fe3e94.png)
!

[2018-05-17 14:39] toshotosho commented on #1331
Could you produce a set of banners for the plugin directory? See the requirements [here](https://developer.wordpress.org/plugins/wordpress-org/plugin-assets/#filenames)

[2018-05-17 15:57] mugurcagdas commented on #1331
Hello @toshotosho OFC! I will update you soon.

[2018-05-17 16:48] toshotosho commented on #1331
@mugurcagdas I admire your enthusiasm, but keep in mind, [https://versionpress.net/](https://versionpress.net/), which is the official site of the plugin, already has a logo.

[2018-05-17 17:01] mugurcagdas commented on #1331
Thanks for your interest.
Actually I saw that before and i create my design similar to first logo for compatibility between old brand identity and new brand identity. For example: Colors similar with first logo, green wave coming from first logo too.
I just waiting their answers because I feel honored if they use my logotype.
Kindly waiting answers.

[2018-05-17 19:29] borekb commented on #1331
@mugurcagdas VersionPress branding is a bit more complicated than that because we also have a hosted service, [VersionPress.com](https://versionpress.com/), which needs to be taken into account as well. I'm not super-proud of what we have today but it's also quite unlikely that we would be changing both logos and related graphics _unless_ it feels jaw-dropping and 100% right. But your effort is ce

[2018-05-17 21:31] #1331 closed

[2018-05-18 11:21] borekb opened #1332 "Use MkDocs for docs.versionpress.net"
[Our docs](https://docs.versionpress.net/en) are currently powered by [versionpress/docs-site](https://github.com/versionpress/docs-site), a small Node.js app that serves a bunch of Markdown files – currently the contents of [`/docs/content`](https://github.com/versionpress/versionpress/tree/2071052ad33a782e96ca206ccca6891e52bc614f/docs/content) folder in this repo. The idea was that we'd be able

[2018-05-18 16:12] lisaross commented on #1332
Looking into this now - mkdocs has some differences in the way it handles navigation:

1. auto directory traversing creates exact filenames in the nav, which is faster, but it's messy:
http://drops.lisaross.tech/X0REk4 (note the content/language nav items)

2. we can use a more manual nav setup in the config using [named pairs](https://mkdocs.readthedocs.io/en/stable/user-guide/configuration/#page

[2018-05-19 14:00] borekb commented on #1332
@lisaross Thanks for looking into this!

I'm also for option 2, that's what we use for <https://docs.versionpress.com> and it's working fine.

Regarding numbers in filenames, they are there only to guarantee menu order. For example, `docs/content/en/01-getting-started/10-using-versionpress` renders as `docs.versionpress.net/en/getting-started/using-versionpress` so we can safely get rid of them.

[2018-05-23 01:34] leepeterson commented on #1036
Curious to know the status of this from the standpoint of Pods integration. From what I've read here and in the related Pods ticket, everything should work very well.

Any unforeseen problems, corner cases or edge cases show up within the past half year?

Again, specifically speaking to Pods/VersionPress setup.

[2018-05-25 18:05] leepeterson opened #1333 "Shutting down Mergebot"
I'm sure many of us saw this by now:

Given its GPLv3 license, are there parts of Mergebot which may help the continued development of VersionPress and its features?

[2018-05-26 05:54] borekb commented on #1333
I was sad to read the news yesterday.

We could ask @bradt, @polevaultweb or @gilbitron if there are parts of their work that they think would possibly make sense to contribute, and whether they would be willing to.

What I've been impressed with over time is [Mergebot schemas](https://github.com/deliciousbrains/mergebot-schemas) – they managed to build quite some list of them. The format is quite

[2018-05-27 23:31] adamrl84 commented on #1333
Is it possible to convert the schemas in any reasonable way?

Is the structure entirely different or just keywords, notation etc? Sorry
I'm on a mobile, and these links aren't working right for me.

On Sat, May 26, 2018, 1:54 AM Borek Bernard <notifications@github.com>
wrote:

[2018-05-27 23:33] adamrl84 commented on #1333
Nevermind. Got the page to load. They use a format similar to JSON.

I've been wondering if there's a way a tool chain could be made to help
automate the creation of these. It's basically for the database tracking
isn't it?

On Sun, May 27, 2018, 7:30 PM Adam Lawson <adam.r.lawson@gmail.com> wrote:

[2018-06-04 06:16] lucamerolla commented on #1285
Hello everyone,

I do have the same issue. I have upgraded to the latest beta but the error is the same

`[04-Jun-2018 06:04:38 UTC] PHP Fatal error:  Uncaught Exception: Serialization of 'Closure' is not allowed in /opt/bitnami/apps/wordpress/htdocs/wp-content/plugins/versionpress/src/Git/Committer.php:316
Stack trace:
#0 /opt/bitnami/apps/wordpress/htdocs/wp-content/plugins/versionpress/src/Git/

[2018-06-09 08:15] lucamerolla commented on #1285
In my case, specifically I was trying to add a menu entry for "Project Tags", taken from the JetPack Portfolio but it looks like I cannot add any new entry in the menu. It gives always the same error

[2018-06-11 09:07] pavelevap commented on #1285
@lucamerolla: Hi,

thank you for your debug info, I was able to find the cause.

There is following code for postponed commits:
https://github.com/versionpress/versionpress/blob/a491044dbd9d7a1e47a09819ea5204080d9bc1ad/plugins/versionpress/src/Database/EntityInfo.php#L227

This leads to creating empty `Closure` object

![image](https://user-images.githubusercontent.com/3008007/41222092-53e738f6-6d

[2018-06-13 22:11] #1332 closed

[2018-06-13 23:02] borekb commented on #1332
All is now done, I've updated the issue description and published a [blog post](https://blog.versionpress.net/2018/06/updated-docs-site/) on this. It was a pleasure to collaborate on this, @lisaross; hope you had a good time as well!

[2018-06-18 09:29] borekb opened #1335 "Update frontend dependencies"
We should update frontend dependencies after a while, there are even some vulnerabilities reported by GitHub's automated check.

By the way, npm now has [`npm audit`](https://docs.npmjs.com/getting-started/running-a-security-audit), I don't have any experience with it but if this should somehow become part of how we add / update dependencies, maybe a note in some README should be added.

---

- [x

[2018-06-18 10:06] borekb opened #1336 "Road to 4.0"
The team has been busy with VersionPress.com for quite a while but there will be a renewed focus on the open source project, which has already started with two large pull requests, updated dev setup #1329 and new docs site #1334.

This is a "meta issue" about the road to VersionPress 4.0 final. (🚧 I'll be updating this.)

- [ ] Bring the project up to date:
    - [x] Dev setup
    - [x] Docs
    -

[2018-06-22 12:03] borekb commented on #1335
Some dependencies are still outdated, reopening. `npm audit` is currently not happy:

[code]

[2018-06-22 13:01] #1335 closed

[2018-06-25 08:57] pavelevap opened #1339 "WP cron functions can use IDs as arguments"
VersionPress generally [ignores](https://github.com/versionpress/versionpress/blob/997c1c31a0d52c115b6570ff9c4650ab185a76fe/plugins/versionpress/.versionpress/schema.yml#L139) cron tasks (which are regenerated automatically), but plugin authors (and also WP core) uses arguments with different IDs for cron functions.

WP core examples: https://github.com/WordPress/WordPress/blob/aaf99e691391cfceb00

[2018-07-14 22:42] leepeterson opened #1344 "Warning Notices, et al"
First, the `webuiPopover` method supplied in the local dev build is interfering with some plugins, breaking functionality. Console shows `Uncaught TypeError: warning.webuiPopover is not a function` when I attempt to use the [Pods Visualize](https://github.com/pods-framework/pods-visualize) plugin. Ironically, I was going to use the Pods Visualize plugin to help me view the relationships between da

[2018-07-14 23:03] simcomp2003 opened #1345 "Errors during clone or merge"
During clone this happens, i pasted here just some part of lines. Also when i try merge same error appears.

Success: Access rules can be installed
PHP Warning:  arsort() expects parameter 1 to be array, null given in /home/********/staging/wp-includes/plugin.php on line 656
PHP Warning:  Invalid argument supplied for foreach() in /home/********/staging/wp-includes/plugin.php on line 657
Success:

[2018-07-15 08:10] borekb commented on #1345
Hi @simcomp2003, could you please post this to [`versionpress/support`](https://github.com/versionpress/support) as it might be an incompatibility with some plugin. Thanks!

[2018-07-15 08:38] borekb commented on #1344
Hi @leepeterson, thanks for the feedback, it's well articulated.

This seems like a bug, @pavelevap, could you please confirm and create a technical issue for that?

It's true that maybe this feature could be turned off until we have the online repository for plugin definitions (#1243). Right now, the lists are hardcoded [here](https://github.com/versionpress/versionpress/blob/d867edc36512222ab24a

[2018-08-17 15:51] borekb commented on #914
Just going to say here that I encountered TOML in some React-related projects, read up a little bit on it (e.g., [this discussion](https://github.com/toml-lang/toml/issues/411) on whether to make it fully compatible with INI) and I like it.

This is a nice statement, IMO: https://github.com/toml-lang/toml/issues/411#issuecomment-219203431.

[2018-08-27 11:36] borekb commented on #1311
Two quick notes:

- Prettier now [supports YAML](https://prettier.io/blog/2018/07/29/1.14.0.html).
- I'm becoming a fan of [TOML](https://github.com/toml-lang/toml). See also https://github.com/versionpress/versionpress/issues/914#issuecomment-328990235.

[2018-08-28 09:35] beabri opened #1350 "Plugin support: how to ignore a "serialized object" entity"
Hi all,

inside the file `schema.yml` of wordpress-seo plugin I put some options to let them be ignored during the synchronization, for example

[code]

This way, synchronization ignores the entire option_value.

I need to insert a option which is stored in DB this way:

![](https://files.gitter.im/versionpress/versionpress/4KF5/image.png)

The option_value is a serialized object which, unserializ

[2018-08-28 11:49] borekb commented on #1350
Thanks for creating this issue, we indeed do not support this scenario yet and I agree it would be useful to have this for 4.0 final.

[2018-09-06 07:46] borekb opened #1351 "Update frontend dependencies"
GitHub reports vulnerability in `unshiftio/url-parse`, we should update frontend dependencies again.

[2018-09-17 09:15] #1351 closed

[2018-10-27 12:12] DoganM95 opened #1355 "Git Version"
Please Extend your Readme.md to link a tutorial on how to update an outdated git version server sided,
as this plugin needs git 1.9+ but the most recent wordpress installer ships with git 1.8.

[2018-10-27 17:32] borekb commented on #1355
Hi @DoganM95, thanks for the suggestion, however, WordPress doesn't ship with any version of Git and how to get it installed or updated for your particular server is up to that specific system. For example, it works differently between Windows vs. Ubuntu vs. other distros, so we can't reasonably provide good guidance for all of them. I also think it's relatively well-documented for each major syst

[2018-10-27 17:32] #1355 closed

[2018-10-27 17:35] DoganM95 commented on #1355
Alright, thank your for your Time :)

[2018-11-05 18:18] candrews opened #1356 "`wp vp pull` should only enter maintenance mode if vpdb files have changed"
Currently `wp vp pull` enters maintenance mode immediately, does the `git pull`, then exits maintenance mode. This leads to unnecessary downtime for the Wordpress site if, for example, a theme change was the only difference.

It would be better if it only entered maintenance mode if it was doing a VersionPress database update.

Here's a shell script I'm using to implement this behavior - but this

[2018-11-05 18:20] candrews opened #1357 "Admin UI way to trigger a VersionPress pull"
There should be a way to trigger `wp vp pull` from the web interface at `/wp-admin/admin.php?page=versionpress` Currently, one has to SSH to the system and run `wp vp pull` from the shell.

[2018-11-06 20:39] borekb commented on #1357
I agree. Generally, workflow / sync features are only covered by WP-CLI commands right now; it would indeed be nice to have a UI for them in the future.

[2018-11-06 20:59] candrews commented on #1356
That's definitely appealing to me, see #1357

`push` is problematic as it requires more access to the server than one may have. For example, I have HTTPS access to the production site. There's no way to `git push` to that. Having the server being able to run `pull` would be great.

`wp vp pull` now always causes quite a bit of downtime because of the maintenance state being set. As you indicated,

[2018-11-07 13:05] pavelevap commented on #1345
This is not the first time for this particular error to appear, but I was not able to reproduce it yet:

- #1103
- https://github.com/versionpress/support/issues/48#issuecomment-222257339
- https://github.com/versionpress/support/issues/133

All are related to `Iniserializer.php`, particularly here:

https://github.com/versionpress/versionpress/blob/4.0-beta/plugins/versionpress/src/Storages/Seria

[2018-11-07 13:05] #1345 closed

[2018-11-08 20:06] pavelevap commented on #1344
Finally, I was able to reproduce and it seems to me that it is not problem on VersionPress side.

[Pods Visualize](https://github.com/pods-framework/pods-visualize) is using [JointJS](https://github.com/clientIO/joint) library, but very old version 0.8.1. But in this version is also bundled and minified basic jQuery 2.0.3 directly in [joint.min.js](https://github.com/pods-framework/pods-visualize/

[2018-11-08 21:03] borekb commented on #1344
Thanks, @pavelevap, let's wait if @leepeterson has anything to add.

[2018-11-19 20:08] pavelevap opened #1361 "Plugin activation and custom schemas"
There are several problems related to activation of plugins with custom schemas, I tried to test them, check errors and make a summary.

1) **VersionPress sometimes needs to know specific plugin schema before plugin is activated, because some tables can be populated during plugin activation** (for example with [register_activation_hook()](https://codex.wordpress.org/Function_Reference/register_act

[2018-11-30 21:21] jacekwilczynski opened #1362 "Replace hard-coded .git directory with a constant"
I would like to see all instances of `VP_PROJECT_ROOT . '/.git'` replaced with a configurable constant. I have a hosting provider that hosts VCS repos in a completely separate location, a folder not named '.git'.

[2018-12-01 16:00] borekb commented on #1362
Hi @jacekwilczynski, thanks for the suggestion. Which host it is, and does the Git repository exist even before you install VersionPress? I personally don't have any experience with this setup so we'd need to explore more if this has any other side-effects.

[2018-12-03 11:24] michalhisim opened #1363 "Describe Coding Standarts for PHP and JS"
Helping the team ship better code, faster, by incorporating fully-configurable static analysis into the development workflow is a key part of a lot of open-source projects. Improved code quality means better maintainability, fewer bugs, and more efficient code reviews – all of which makes for a happier, more productive team.

I would like to describe coding standards for PHPMD and ESLint to help m

[2018-12-03 13:18] borekb commented on #1363
Thanks, @michalhisim, this is a great area for contribution! A couple of notes / pointers:

- Coding conventions are checked with PHPCS (PHP CodeSniffer) with [this ruleset](https://github.com/versionpress/versionpress/blob/f20835148e0057806ce2414a05c97a498b2565e8/plugins/versionpress/ruleset.xml). It runs automatically [on Travis](https://github.com/versionpress/versionpress/blob/f20835148e005780

[2018-12-09 20:49] michacassola opened #1364 "Is this project dead or near death?"
Hi,

I've noticed there is not much development going on here. Will there ever be a stable version?
Or is this project basically abandoned?

[2018-12-10 14:05] borekb commented on #1364
Hi @michacassola, VersionPress is used by many individuals and companies for their production workflows _if they are developers_ so I wouldn't call it "dead" but you're right that there hasn't been much activity lately. We as the original team don't currently have capacity to work on it but we've not abandoned the project either – there is every intention to return to it when we can, and it should

[2018-12-10 20:03] michacassola commented on #1364
Hi @borekb ,
thank you for that detailed answer! I shall have my eye on this project then. :)

It would be a nice usecase to separate a production site from a staging site and merge them back together once the development on the staging site is done.

[2018-12-11 07:32] borekb commented on #1364
That's a big point of what we're doing 😄

I'm going to close this issue now, if you have any further questions, feel free to open a new one.

[2018-12-11 07:32] #1364 closed

[2018-12-11 18:15] michacassola commented on #1364
So can I use VersionPress as designer? I am not afraid of code but am not practiced in anything besides CSS. If it is ready to use but lacks some ease of use I am also willing to write a tutorial.

[2018-12-11 20:45] borekb commented on #1364
As long as things go smoothly, you're good to use use it. But when they don't, you'll probably need to understand / debug a little bit of PHP code.

[2018-12-21 10:49] juslintek commented on #1029
@camilleterol sorry, not yes was so busy on my work and freelancing that I could spare any time on this project currently, but maybe you if you have any free time and have nowhere else to put it could start with it. Then hopefully imbetween Christmas and New Years holidays, I'll be off my full time job, maybe I'll be able to look into it.

[2019-01-07 14:57] borekb opened #1365 "4.0-beta ZIP is broken"
Similar to _Unable to unzip 4.0-alpha1_ #1138 and probably already reported in https://github.com/versionpress/support/issues/121, I'm not able to extract the ZIP on macOS.

[2019-01-07 15:34] toshotosho commented on #1365
FWIW, versionpress-4.0-beta.zip downloaded from the releases page moments ago worked fine for me both on Mac and Windows 10.

[2019-01-07 15:53] borekb commented on #1365
Interesting, I'm getting this in Finder:

<img width="490" alt="screenshot 2019-01-07 at 16 53 19" src="https://user-images.githubusercontent.com/101152/50777778-cae95c00-129c-11e9-9ff6-09096982cddc.png">

[2019-01-08 08:09] borekb opened #1366 "Incorrect message when Git is missing"
I'm trying to run VersionPress on [Local by Flywheel](https://local.getflywheel.com/) which doesn't have Git available. Our system check message is confusing as it indicates an incorrect version:

<img width="698" alt="screenshot 2019-01-08 at 09 04 13" src="https://user-images.githubusercontent.com/101152/50817544-6d98ed80-1324-11e9-81c0-cd1c4d2c3ae6.png">

This is the system info page:

<img wid

[2019-01-08 09:53] Ishirak commented on #1365
Uploading the zip directly to WordPress works correctly, however, as you both stated, there are issues when trying to directly unzip the file.

Since the last time we published the last beta version we've singificantly changed our publishing process and we're now using a different tool to compress our plugin. However, if you like to use the exact copy of the last beta version, you can download it

[2019-01-08 10:05] borekb commented on #1365
Thanks, @Ishirak, I've uploaded the ZIP [to releases](https://github.com/versionpress/versionpress/releases/tag/4.0-beta) and also added a fresher build, [`versionpress-4.0-beta-177-gf208351.zip`](https://github.com/versionpress/versionpress/releases/download/4.0-beta/versionpress-4.0-beta-177-gf208351.zip), there.

[2019-01-08 10:05] #1365 closed

[2019-01-08 16:05] candrews commented on #1365
@borekb instead of adding a new release (4.0-beta-177-gf208351) to the existing release (4.0-beta), can you please create a new release for the new release? :)

[2019-01-15 08:34] borekb commented on #1220
With transition to MkDocs in #1334, we also updated our deployment mechanism, see [docs README](https://github.com/versionpress/versionpress/tree/f20835148e0057806ce2414a05c97a498b2565e8/docs#deployment). So this has been resolved as part of that.

[2019-01-15 08:34] #1220 closed

[2019-01-15 08:37] borekb opened #1367 "CI/CD for documentation"
Currently, we deploy the documentation manually via a helper `versionpress/docs.versionpress.net` repo and GitHub Pages, see [this README](https://github.com/versionpress/versionpress/tree/f20835148e0057806ce2414a05c97a498b2565e8/docs#deployment). Since the documentation is MkDocs and [Netlify supports that](https://www.netlify.com/docs/continuous-deployment/), it should be possible to automate th

[2019-01-16 08:05] #1367 closed

[2019-01-23 16:46] lframnes opened #1369 "Navigation Menu Post Meta Contains Incorrect References in the INI"
Hello, I am new to VersionPress and believe I have found a bug with how references are generated/replaced when building the INI files that represent a navigation menu item. (post type, nav_menu_item)

When creating a new navigation menu item the INI file that represents the post generates the following line:

`_menu_item_object_id#VP_ID_FOR_POSTMETA = VP_ID_FOR_TERM_TAXONOMY`

This results in a ro

[2019-01-28 09:22] #1369 closed

[2019-02-05 21:20] michacassola commented on #1336
It's early 2019, any updates? @borekb

[2019-02-05 21:22] borekb opened #1373 "Release 4.0-beta2"
It's been a while since 4.0-beta and there's been some fixes merged so @candrews [proposed](https://gitter.im/versionpress/versionpress?at=5bd7514682893a2f3b5ce039) we cut a beta2 release.

- [x] Fix failing tests (see comments below)
    - [x] #1384
    - [x] #1400
- ~~Make sure VersionPress is compatible with Gutenberg – #1387~~ _this will require more effort, postponing..._
- [x] Update depende

[2019-02-05 21:33] borekb commented on #1336
@michacassola: was just about to post here :)

We'll release beta2 shortly, see #1373, then @pavelevap will be joining the project from March as an active maintainer. Me and @JanVoracek still don't have much time to contribute these days and it won't be easy to change that, unfortunately, but Pavel's involvement should help greatly.

[2019-02-05 21:59] michacassola commented on #1336
Sorry to steal your thunder then! Thanks for those great news! Thanks @pavelevap !

[2019-02-20 15:42] lframnes commented on #1373
Hello, in an effort to help out @candrews I ran the full test suite (though on a Mac).  The unit tests all passed and the following workflow test failed.  I am not sure if this is a new failure or introduced since the last release.  Dropping in the output below:

1) VersionPress\Tests\Workflow\CloneMergeTest::dateModifiedMergesAutomatically
Failed asserting that two strings are equal.
--- Expected

[2019-02-20 19:50] borekb commented on #1373
I think that's the one that also consistently fails for me. I didn't have time to look into it closer but if someone wanted to fix it, that would be great.

[2019-02-20 19:51] borekb commented on #1373
BTW, thank you very much for helping out, @lframnes!

[2019-02-20 21:18] candrews commented on #1373
So... when can we do a release?

[2019-02-20 22:30] borekb commented on #1373
I've updated the checklist above, will be happy to release beta2 when it's done. If someone could fix the tests, that would be appreciated.

[2019-02-25 21:07] candrews opened #1374 "restore-site doesn't work with Wordpress 5.1"
When running `wp vp restore-site --yes --siteurl="${SITE_URL}" --require=wp-content/plugins/versionpress/src/Cli/vp.php` with `wp-config.php` present against an empty database (with no database tables), it fails with this output:
[code]

It works fine with Wordpress 5.0.

[2019-02-25 21:25] borekb commented on #1374
Hmm, any ideas what that could be? Found a Trac ticket https://core.trac.wordpress.org/ticket/43609 related to 5.1 but that one seems to be fixed / closed for quite some time already.

[2019-02-25 21:32] candrews commented on #1374
I'm not sure exactly what changed from Wordpress 5.0 to 5.1 causing this issue, but the PR I created does fix the problem. And it seems like a good improvement as it's a nice, defensive change.

[2019-02-25 21:36] borekb commented on #1374
That indeed does look good, thanks!

[2019-02-25 21:38] #1374 closed

[2019-02-25 21:52] candrews commented on #1373
Especially since we now know the VersionPress isn't compatible with the current version of Wordpress (5.1), see #1374, I think this release should be done really soon.

[2019-03-04 17:58] borekb commented on #1259
Resolved by #1381. 🎉

[2019-03-05 19:44] pavelevap opened #1382 "dateModifiedMergesAutomatically test is failing"
Running `npm run tests:custom-with-wordpress -- -c phpunit.xml --filter dateModifiedMergesAutomatically` leads to a following problem:

[code]

I checked `wptest` and `wptestclone` repositories after the test:

- 10:45 - VersionPress activated on `wptest` (by WP-CLI).
- 10:47 - Page `E02347A1732744B1B94B3530FA83EB9B` [created](https://github.com/versionpress/versionpress/blob/b14fe014360ae36597ac2

[2019-03-05 19:46] pavelevap commented on #1373
@lframnes: I created a separate issue for failing test `dateModifiedMergesAutomatically`, see #1382.

[2019-03-05 20:52] borekb opened #1383 "Testing is problematic on Linux"
As [mentioned](https://gitter.im/versionpress/versionpress?at=5c7d56b1d2d62067b741fbd2) by @candrews on Gitter, running tests is currently problematic on Linux (Craig uses Fedora if that's important). The core VersionPress team only uses macOS or Windows so we're not really sure what's going on on Linux but it already lead to PRs such as #1371, #1379 or #1380 which sometimes feel a bit arbitrary t

[2019-03-05 21:14] borekb commented on #1383
@candrews could you please try this?

[code]

Does this run successfully and create `dev-env/testfolder` on your host system? From within the container, is `/var/www/html` owned by www-data? Thanks.

[2019-03-05 21:21] borekb commented on #1383
This is an issue from the official WordPress image repository talking about Fedora and FS permissions, seems possibly related to me: https://github.com/docker-library/wordpress/issues/132.

[2019-03-05 21:27] candrews commented on #1383
Due to SELinux, the command should use `z` or `Z`, so I actually ran:
`docker run --rm -it -v $PWD/dev-env/testfolder:/var/www/html:z versionpress/wordpress:cli /bin/sh`

Yes.
From the host:
[code]

No. from within the container:
[code]

[2019-03-05 22:02] borekb opened #1384 "Merge driver doesn't work on Debian-based systems"
We currently maintain two implementations of a Git merge driver, [`ini-merge.sh`](https://github.com/versionpress/versionpress/blob/b14fe014360ae36597ac2fd18effa801de566f31/plugins/versionpress/src/Git/merge-drivers/ini-merge.sh) and [`ini-merge.php`](https://github.com/versionpress/versionpress/blob/b14fe014360ae36597ac2fd18effa801de566f31/plugins/versionpress/src/Git/merge-drivers/ini-merge.php)

[2019-03-05 22:08] borekb commented on #1382
Thanks, @pavelevap, that's great information that actually lead us to the root cause which is #1384. I'm going to close this as the test will start working again when that issue is fixed.

[2019-03-05 22:08] #1382 closed

[2019-03-05 22:08] candrews commented on #1384
Have you run `shellcheck` to see what bashisms exist?

A go implementation sounds good, but I'm concerned about how long that will take.

[2019-03-05 22:17] borekb commented on #1383
`/var/www/html` should be owned by www-data as seen by the container, is there a way to achieve that on Fedora? For other Linux distributions, [this tricks](https://github.com/versionpress/versionpress/blob/b14fe014360ae36597ac2fd18effa801de566f31/dev-env/wordpress-cli-image/Dockerfile#L21-L24) seems to work.

It's really an underlying issue with Docker as many people complain in https://github.co

[2019-03-05 22:21] borekb commented on #1384
If I remember correctly, @JanVoracek ran shellcheck when improving the scripts compatibility with `sh` (https://github.com/versionpress/versionpress/commit/a6e05c032c5919c81fb4102cf00535c7e773e53e). We're actually surprised that Debian has the problem and Alpine doesn't – it's usually the other way around :)

Go implementation is the only sustainable solution I'm afraid. The code is not long so ho

[2019-03-05 22:22] borekb commented on #1384
(Yes, ShellCheck passes on [the current `ini-merge.sh`](https://github.com/versionpress/versionpress/blob/b14fe014360ae36597ac2fd18effa801de566f31/plugins/versionpress/src/Git/merge-drivers/ini-merge.sh).)

[2019-03-06 19:36] pavelevap opened #1386 "Support privacy features added in WordPress 4.9.6"
- [ ] Option `<<table-prefix>>page_for_privacy_policy` for setting "Privacy page" should recognize entities.
- [ ] Research tracking user requests, archives with personal data, etc.

[2019-03-06 20:12] pavelevap opened #1387 "Support WordPress 5.0 (especially Gutenberg)"
- [ ] Actions from new editor (Gutenberg) are tracked as "non-admin", probably due to REST API requests.
- [ ] IDs for images and galleries are stored in a new format inside `post_content`, see example with media file ID = 11. I am not sure (if) how is this value exactly used.

![image](https://user-images.githubusercontent.com/3008007/53909293-b08bee80-4051-11e9-979a-1bc7dfda2faf.png)

[2019-03-06 22:18] #1384 closed

[2019-03-07 09:13] borekb opened #1389 "Improve Dockerized testing infrastructure"
Full tests (`npm run tests:full`) currently take over an hour to run on a relatively powerful machine (Core i7 MacBook Pro) and there are some other issues related to tests as we reviewed them with @JanVoracek today.

**UPDATE**: In the end, this issue is a relatively major update of the dockerized dev / testing environment last updated in #1329.

### Highlights

- Full tests now run _much_ faster

[2019-03-07 21:03] pavelevap commented on #607
Closing as a duplicate of #1350.

[2019-03-07 21:03] #607 closed

[2019-03-07 21:13] pavelevap commented on #1064
@borekb: Is this still relevant (there were so many changes)?

[2019-03-07 22:13] borekb commented on #1064
Probably not. Going to close this.

[2019-03-07 22:13] #1064 closed

[2019-03-08 20:37] pavelevap commented on #1069
Closing as a duplicate of #1289.

[2019-03-08 20:37] #1069 closed

[2019-03-09 20:08] borekb commented on #1259
I've reverted #1381 with #1394 for reason given in that PR:

I'm also going to reopen this issue and based on the experience that #1381 gave us, update the issue description.

[2019-03-10 23:52] borekb commented on #1389
Good progress this weekend:

![image](https://user-images.githubusercontent.com/101152/54093362-7eeb8e00-4397-11e9-8463-3344e57cb827.png)

@pavelevap, could you please try how tests currently work on Windows? For me, `npm run tests:full` (after `npm run tests:cleanup`!) take about **10 minutes to run** and produce only **1 failure** in `CloneMergeTest::cloneLooksExactlySameAsOriginal` ("Tests: 738

[2019-03-11 14:02] borekb commented on #1389
Named volumes implemented in #1396 made things much faster but also harder to inspect files locally. The [current solution](https://github.com/versionpress/versionpress/blob/b9e6cc356d4377819e5e65512da5af71562a7ecf/docker-compose-tests.yml#L63-L70) depends on copying files from a named volumed to a folder that will be bind-mount to host but this is quite slow (several minutes of heavy I/O on my Ma

[2019-03-12 08:28] borekb opened #1400 "Make tests pass on the updated testing infrastructure"
#1389 improves the testing infrastructure and it seems that with enough "luck", by which I mean a good order of tests or their combination, all tests even pass. However, in practice, it's not very repeatable or reliable.

This issue is about getting the tests run reasonably reliably on both Mac and Windows. There are still debt items mentioned in #1284 like the "temporarily" disabled [`ActivationD

[2019-03-12 12:53] borekb commented on #1400
My current experience (on commit b9e6cc356d):

[code]

Full [`test-output.txt`](https://github.com/versionpress/versionpress/files/2956211/test-output.txt).

When I move Workflow tests to run before End2End tests, everything passes:

<img width="1176" alt="Screenshot 2019-03-12 at 11 00 17" src="https://user-images.githubusercontent.com/101152/54191362-0e875e80-44b6-11e9-9b3d-3147126d2139.png">

!

[2019-03-16 22:47] borekb commented on #262
Old issue and in the Gutenberg era, probably not many people are running WP admin with JavaScript disabled.

[2019-03-16 22:47] #262 closed

[2019-03-16 22:55] borekb opened #1402 "Run tests with Selenium worker again"
We currently only run end2end tests with the WP-CLI driver, see [here](https://github.com/versionpress/versionpress/blob/b9e6cc356d4377819e5e65512da5af71562a7ecf/plugins/versionpress/tests/test-config.yml#L6), and the other Selenium tests have been disabled in dc531ed1771a9c83170f435fd3956588399678e7 (PR #1329) as it has been challenging to make them work. It has been postponed for post-beta work

[2019-03-17 01:16] borekb commented on #1400
I no longer understand what's causing the slowdown. I'm trying again on commits 341fec0f0daf05a626763e93e74b45ac5ca79a36 and 29fa9789d7482e1b18ae142c05c8854891de47e5 where I've definitely seen 10-minute runs before and they now both take 30 minutes. 🤔

[2019-03-17 02:17] borekb commented on #1400
Good is that I'm seeing consistent results on Docker Toolbox on Windows: https://github.com/versionpress/versionpress/pull/1403#issuecomment-473609478.

[2019-03-17 09:07] borekb commented on #1400
So I tried `git clean -fxd` && `npm i`, it didn't help.

Then I **restarted Docker** and voila, tests were back at 10 minutes again.

Who will give me those few hours of my life back? 😅

[2019-03-18 07:06] borekb commented on #1259
Travis also [added Windows support](https://blog.travis-ci.com/2018-10-11-windows-early-release) recently, that would be useful to set up as well.

[2019-03-18 16:29] candrews commented on #1373
What's currently blocking the release of beta 2?

[2019-03-18 20:17] pavelevap opened #1405 "Copying some files from container to host is not permitted"
When I run Workflow tests and then want to copy files with `npm run tests:copy-files-to-host`, there are errors for all `wptest/.git/objects`:
`cp: can't create '/tmp/wp-copy/./wptest/.git/objects/7e/d4240c8b8b19034b726a300c401b0696f271fb': Operation not permitted`
Folder `wptest/.git/objects/7e` is created on my computer, but files inside are not copied.

Folder with cloned site `wptestclone` is

[2019-03-19 07:36] borekb commented on #1373
@candrews The biggest issue right now is that editor actions done via Gutenberg are tracked as non-admin, see #1387. We can't ship beta2 before that is fixed.

Other than that, we've made a lot of progress on tests, see #1389 and related pull requests, which I think I'll be able to wrap up later this week.

Things I could use help with is:

- Debug or (even better) fix #1387.
- Prepare a draft of

[2019-03-19 11:34] borekb commented on #1405
Thanks for reporting this, I'll take a look. For reference, the copy functionality has been introduced in https://github.com/versionpress/versionpress/commit/8dbf2a0e2049fb9a1845159bd2a5b15fa2f426e7 / PR https://github.com/versionpress/versionpress/pull/1396.

[2019-03-19 22:13] jameskraus commented on #967
Closing, no longer working on this. Feel free to open this if it's important to you.

[2019-03-19 22:13] #967 closed

[2019-03-19 22:19] borekb commented on #967
I was just looking at this issue yesterday as part of the recent testing effort (#1389) and was wondering what it was about. I realized that the title change that I made in April 2016 was wrong – I then misunderstood what you reported.

I'm reverting the title back and indeed, this issue is no longer relevant as Selenium tests are disabled. We plan to re-enable them in #1402.

[2019-03-22 10:33] trebitzki opened #1406 "tell vp which existing git repo to use"
My local dev site folder has a site repo and a symlinked wordpress repo from https://github.com/WordPress/WordPress.git. VP has latched onto the wrong one, the wordpress repo should not be touched, as this would interfere with remote fetching.

Is there a way to make vp switch to my dev repo?

[2019-03-22 11:35] trebitzki opened #1407 "Environment name causes invalid and annoying code line in frontend"
Using version 4.0-beta-177-gf208351. Set environment name to dev. After activation the line "define('VP_ENVIRONMENT', 'dev');" is injected at the top of the page html, backend and frontend, on twentynineteen quite big for visitors. Deactivation didn't help, had to uninstall.

I assume the line is supposed to be PHP. You should fix that.

[2019-03-22 12:13] borekb commented on #1406
Hi, could you please describe the directory layout you're trying to achieve? Site's `.git` is a clone of `WordPress/WordPress`, right? Where would you expect VersionPress' `.git` folder to be?

Not sure if this helps you but there are configuration options `VP_PROJECT_ROOT` and `VP_GIT_BINARY` (that could perhaps be configured to point to another repo using Git's `--git-dir` flag; I haven't tried

[2019-03-26 10:30] borekb opened #1408 "Bump required PHP version to 7.2"
When working on #1389, I realized that we only run tests on PHP 7.2 which made me think whether we shouldn't bump the required version anyway. Some points around this:

- PHP 5.6, VersionPress' current minimum required version (#726, [docs](https://github.com/versionpress/versionpress/blob/1a21fcb11b2693b8eac44b95afd904cfde13e517/docs/content/en/getting-started/installation-uninstallation.md#syste

[2019-03-26 10:49] borekb opened #1409 "`CloneMergeTest::cloneLooksExactlySameAsOriginal` fails"
After improving the test runs reliability in #1389 / #1401, one test is still failing consistently: [`CloneMergeTest::cloneLooksExactlySameAsOriginal`](https://github.com/versionpress/versionpress/blob/1a21fcb11b2693b8eac44b95afd904cfde13e517/plugins/versionpress/tests/Workflow/CloneMergeTest.php#L34-L49).

When Workflow tests run separately, or before End2End tests (see https://github.com/version

[2019-03-26 11:56] borekb commented on #1409
For reference, this is how it behaves as of 1a21fcb11b:

✅ when Workflow tests run alone:

[code]

🚫 when End2End tests run before Workflow tests:

[code]

[2019-03-26 13:38] borekb commented on #1400
With an improved test runner in #1401 and a workaround for a `cloneLooksExactlySameAsOriginal` implemented in #1410, all tests now pass 🎉.

[2019-03-26 13:38] #1400 closed

[2019-03-26 15:09] borekb commented on #1389
The key items are done and the tests now fully pass 🎉.

I've updated the original description to contain all the relevant details.

[2019-03-26 15:09] #1389 closed

[2019-03-26 15:23] borekb opened #1412 "Testing infrastructure – backlog"
With #1389, the most pressing issues with testing have been fixes. This is a backlog of other items that we should do in the near future:

- [ ] Only enable Xdebug for `...:debug` scripts. Right now, it's always enabled and just not configured with the right idekey in non-debug scripts which makes things slower. [Here](https://github.com/versionpress/versionpress/blob/ecbcd618ab4c21069c2fc3ff9e18a

[2019-03-26 15:34] borekb commented on #1373
@candrews, FYI, we've discussed this with @pavelevap again and because supporting Gutenberg will be a bigger task, I agree with your original suggestion to just release beta2 at the current state.

As it's been a while since the last release, I need to gather what has changed and write some release notes. This will take me a day or two but there are no major blockers now, especially since tests pa

[2019-03-26 15:40] Marycka9 opened #1413 "Fatal error with ACF"
Warning: A non-numeric value encountered in
/wp-content/plugins/versionpress/src/Storages/Serialization/SerializedDataToIniConverter.php
on line 390

Warning: A non-numeric value encountered in
/wp-content/plugins/versionpress/src/Storages/Serialization/SerializedDataToIniConverter.php
on line 390

Warning: Cannot modify header information - headers already sent by (output started at
/wp-content/p

[2019-03-26 22:35] borekb commented on #1259
Moving the following notes from the issue description here as we won't implement it that properly for now:

---

**UPDATE 03/2019**: Based on our experience with #1381, it's now clearer what we want from a CI setup:

- The builds should respect that this repo is a monorepo and only check what needs to be checked. For example, with #1381 setup, if I updated a Markdown file in the `docs` folder, ful

[2019-03-27 09:34] borekb opened #1416 "Require Node 10"
It's the current LTS and certain packages I'd like to use in scripts depend on it, see e.g. https://github.com/sindresorhus/issue-regex/issues/3.

![Screenshot 2019-03-27 at 10 33 18](https://user-images.githubusercontent.com/101152/55065242-c18db580-507b-11e9-8960-a937c839db5d.png)

[Source](https://nodejs.org/en/about/releases/).

[2019-03-27 10:21] pavelevap commented on #1413
Hi @Marycka9,

do you have any example or steps to reproduce? It is probably related to some specific ACF data or settings.

Problem is related to following line of code (throws warning in PHP 7.1 when using math operation on non-numeric strings):

https://github.com/versionpress/versionpress/blob/9671af877baa57001f291317f43077824358254c/plugins/versionpress/src/Storages/Serialization/SerializedDa

[2019-03-27 12:17] borekb opened #1417 "Release process updates around 4.0-beta2"
We're making a release (#1373) after a while ([4.0-beta](https://github.com/versionpress/versionpress/releases/tag/4.0-beta) was released in July 2017), I'll use this issue to note a couple of changes / updates around our release process.

[2019-03-27 13:12] borekb commented on #787
As part of the open-sourcing effort, we also moved from BitBucket & JIRA to GitHub. This is a note about the migrated issues, originally stored [here](https://github.com/versionpress/versionpress/blob/9e0607024b77e64dc5b5839b3a73f49316a74fb7/docs/content/en/developer/development-process.md#note-on-imported-issues-1522):

---

### Note on imported issues 1..522

In the early days, we used JIRA and

[2019-03-27 14:11] borekb commented on #1406
@trebitzki, I'm going to close this issue as part of housekeeping but feel free to open a new one in https://github.com/versionpress/support if you have more info to share. Thank you.

[2019-03-27 14:11] #1406 closed

[2019-03-27 14:12] borekb commented on #1407
Hi @trebitzki, this sounds like a misconfiguration to me (PHP not being processed by a web server?), could you please open a new issue in the [support repo](https://github.com/versionpress/support) if you still need help? Thank you.

[2019-03-27 14:12] #1407 closed

[2019-03-27 14:14] borekb commented on #1405
I have tried this yesterday and all worked fine. @pavelevap, could you please try if you can still reproduce on the latest `master` version?

[2019-03-27 14:24] borekb commented on #1383
Tests are passing in a Linux VM on Travis (#1415), @candrews, could you please confirm that you can run tests fine on your Fedora machine?

[2019-03-27 14:37] trebitzki commented on #1407
@borekb: not a configuration issue. If PHP were not processed Wordpress would bork out!

![Screen Shot 2019-03-27 at 15 20 27](https://user-images.githubusercontent.com/940634/55084997-2f4ed700-50a6-11e9-9ad6-312be9a4abb8.png)

[2019-03-27 14:41] trebitzki commented on #1407
BTW you seem to be a bit fast on the Closed trigger. I would have answered your question within a few minutes. Should I really open a new ticket?

[2019-03-27 15:15] borekb commented on #1407
Leaking PHP code to frontend is most likely a configuration issue, not a bug in VersionPress' code itself as that would be reported many times already. So my instinct is that this is most likely a support issue, for which we have a separate repo. That's why I closed this – it's just housekeeping, not a lack of patience :) Sorry if this was confusing.

[2019-03-28 07:56] Marycka9 commented on #1413
The example is very simple:
I save a new group of fields for the page and this error occurs. Although the data is saved.

[2019-03-28 20:50] pavelevap commented on #1413
Which version of ACF and WordPress do you use? Do you have Gutenberg editor active?

My clean installation is WP 5.1.1, ACF 5.7.12 and I tried to create one field group with text field and I did not encountered your error. I think that it is related to some specific field or settings?

I found some other Notices (on Plugins page after ACF activation), but nothing like you described.

![image](http

[2019-04-01 15:14] borekb commented on #1408
This, and I don't think it's an April Fools' 😄

<img width="699" alt="Screenshot 2019-04-01 at 17 13 08" src="https://user-images.githubusercontent.com/101152/55338645-702d5e00-54a1-11e9-8d5f-250b03ba5a7d.png">

[Source](https://wordpress.org/news/2019/04/minimum-php-version-update/).

[2019-04-05 15:43] borekb opened #1419 "Cache Docker images between Travis builds"
This is a follow-up to PR #1415 where we introduced Travis CI running full tests but couldn't make Docker caching work.

The issue was first raised in https://github.com/versionpress/versionpress/pull/1415#issuecomment-476875059 and the implementation attempted in https://github.com/versionpress/versionpress/pull/1415#discussion_r269340949 but eventually reverted.

[This comment](https://github.co

[2019-04-05 15:50] borekb commented on #1259
Travis is now running full tests for each PR & merges to `master` 🎉 . [This is the first successful build of master](https://travis-ci.org/versionpress/versionpress/builds/516254002).

The only unpleasant thing is the lack of Docker caching for which I've created a separate issue #1419. We can close this now.

Thanks @candrews for your help!

[2019-04-05 15:50] #1259 closed

[2019-04-08 12:53] pavelevap commented on #1409
Test `CloneMergeTest::cloneLooksExactlySameAsOriginal` is failing because of the same dates of published posts. As you can see bellow, there is **different order for displayed posts** on original and cloned site. Why? Executing `End2End` tests leads to default order for posts with the same `post_title` and `post_date`. Posts are ordered by `post_date` by default and when we have several posts with

[2019-04-08 13:49] candrews commented on #1373
Can this release be made soon please? :angel:

[2019-04-08 13:51] borekb commented on #1373
😅 I almost thought you forgot :) Just need to find a little bit of time but OK, let me commit to a release this week.

[2019-04-08 15:53] borekb commented on #1409
Thanks for the research, @pavelevap.

As you pointed out, VersionPress doesn't guarantee the same database IDs between environments, in fact, they will often be different. We simply don't keep original IDs in the internal data format.

In practice, this is rarely a problem because everything in WordPress is ordered by an attribute like `post_date` or `menu_order`. However, this test encounters a s

[2019-04-10 10:27] pavelevap opened #1420 "Tracking original IDs or general order"
During work on test infrastructure we found a problem with order of posts on cloned site. When there are several posts (or other items) **published at the same time and ordered by that time**, their **order can be different on original and cloned site**, see example in https://github.com/versionpress/versionpress/issues/1409#issuecomment-480819108.

Order on original site is based on ID (order fro

[2019-04-12 20:24] pavelevap commented on #1344
I am closing this issue for now, please reopen if there is anything new.

[2019-04-12 20:24] #1344 closed

[2019-04-14 17:10] borekb commented on #1417
**Summary: it's all still mostly fine**.

Some smaller notes:

- I've updated our docs on this in #1423.
- I'm not sure about the usage of GitHub projects vs. milestones. For 4.0, there's a single milestone and several projects for each sub-release (like beta1 or beta2) but maybe milestones would be enough, as they used to be in the past (we have old milestones like `1.0-rc3` or `1.0.1`). But anyw

[2019-04-14 17:12] borekb commented on #1417
I'll keep this open until 4.0-beta2 is released, there will probably be some smaller changes still.

[2019-04-14 18:42] borekb commented on #1383
I'm going to close this for now, @candrews, if you still hit any issues on Fedora, feel free to reopen.

[2019-04-14 18:42] #1383 closed

[2019-04-14 22:52] borekb commented on #1373
I've tagged a release and published a binary [here](https://github.com/versionpress/versionpress/releases/tag/4.0-beta2) 🎉  . @pavelevap / @candrews, could you please verify that it works? I need to catch some sleep.

Release notes [here](https://github.com/versionpress/versionpress/blob/1e6087c453f48d4f917f0392c436d815aa514744/docs/content/en/release-notes/4.0-beta2.md).

[2019-04-15 15:15] candrews commented on #1373
It seems to be working well for me. I tested it with 2 sites and haven't noticed problems yet :)

[2019-04-15 20:14] borekb commented on #1373
Ok, I've updated the [release page](https://github.com/versionpress/versionpress/releases/tag/4.0-beta2), let's consider beta2 released!

[2019-04-15 20:14] #1373 closed

[2019-04-15 20:14] pavelevap commented on #1373
Yes, everything seems fine, good work @borekb :+1:

![image](https://user-images.githubusercontent.com/3008007/56162214-bae3c580-5fcb-11e9-871d-1c62d1bea56c.png)

[2019-04-15 20:43] #1417 closed

[2019-04-17 18:29] pavelevap commented on #1405
It is still happening for me, I am not sure what is going on here :-( I played a little bit with `copy-files-to-host`:

Original command:
https://github.com/versionpress/versionpress/blob/4977ced4e496c7b0194fca75d8e503526b42c998/docker-compose-tests.yml#L75
Error: `cp: can't create '/tmp/wp-copy/./wptestclone/.git/objects/61/c94bb9b3194099fa777b3e2e80ce6b9e43043e': Operation not permitted` (for al

[2019-04-23 06:48] borekb commented on #1402
There's an interesting project called [wp-browser](https://github.com/lucatume/wp-browser) that we could consider using.

[2019-04-26 20:53] candrews opened #1430 "Double serialized value not serialized/deserialized correctly"
I haven't yet been able to come up with shorter/simpler reproduction steps or a unit test. If someone does, please let me know - I'll keep working on it as well.

The problem can be reproduced by:
* Start with a VersionPress enabled Wordpress instance
* Install this plugin: https://wordpress.org/plugins/miniorange-saml-20-single-sign-on/
* In the wp-admin configuration for the plugin, set the x509

[2019-04-27 10:00] borekb opened #1433 "Nightly builds"
It would be great if Travis had another step that would build VersionPress and publish it somewhere so that:

- Each build is uniquely identified, which our `npm run build` script already does. It creates something like `versionpress-4.0-beta2-9-gd9a03c79.zip`, which means _"the closest tag is `4.0-beta2`, there have been 9 commits since then and the build was from commit `d9a03c79`"_.
- When in a

[2019-04-27 14:05] borekb opened #1434 ""Help wanted" issue label"
I've created a ['help wanted'](https://github.com/versionpress/versionpress/labels/help%20wanted) label for issues that are good for community contributions. Those issues don't require deep knowledge of VersionPress internals, in other words, we would spend the same amount of effort on them as anyone else.

This label is [treated by GitHub specially](https://help.github.com/en/articles/helping-new

[2019-04-27 14:05] #1434 closed

[2019-04-30 09:28] pavelevap commented on #1430
I can confirm this issue, but this problem is related to double serialization in plugin [SAML SP Single Sign On – SSO](https://wordpress.org/plugins/miniorange-saml-20-single-sign-on), see https://plugins.trac.wordpress.org/browser/miniorange-saml-20-single-sign-on/tags/4.8.70/login.php#L351:

`update_option( 'saml_x509_certificate', maybe_serialize( $saml_x509_certificate ) );`

`$saml_x509_certi

[2019-05-02 07:23] pavelevap commented on #1430
There are several possible situations and our tests cover only some of them:

**Serialized string in a serialized string** :no_entry_sign:
Test: PR #1435 (?)
Test code: `serialize(serialize('some string'));`
WP test code: `update_option( 'double_serialization', serialize( 'Value' ) );`
PHP result: `s:12:"s:5:"Value";";`
`.ini` result: `option_value = <<<serialized>>> <<<serialized>>> "Value"`
Sync

[2019-05-02 08:53] borekb commented on #1430
Awesome summary, @pavelevap!

[2019-05-02 14:14] candrews commented on #1430
@borekb @pavelevap my PR at https://github.com/versionpress/versionpress/pull/1435 includes tests for the 2 failing test cases and also includes a fix for those failures. I think it's ready to merge, solving VP's issues with multiple serialization.

[2019-05-02 16:46] pavelevap commented on #1430
Thank you, @candrews, I will check your fix, tests seems OK.

I will probably create different issue, but it seems to me that there is still another problem with multiline strings (but it is not related to double serialization).

I tested following code:
[code]
Following value is correctly saved in database:
[code]
But `.ini` file contains
[code]
And after running `wp vp apply-changes` it is damag

[2019-05-02 20:33] candrews opened #1436 "Slashes are stripped from values in INSERT queries, breaking some data"
To reproduce this issue, create a new file called `test.php`:
[code]

Then run it by hitting the URL in the browser.

Actual:
[code]
Expected:
[code]

Interesting, executing `test.php` a second time results in the expected data being written to the ini file. So the issue is only happening for INSERTs (not for UPDATEs).

[2019-05-02 20:34] candrews commented on #1430
I tracked that down - it's definitely an issue. The problem is in the query parsing, not in the serializer. I created https://github.com/versionpress/versionpress/issues/1436  to track it.

[2019-05-02 20:41] candrews commented on #1436
The problem is caused by `stripslashes` being run on the value in the query.

In `SqlQueryParser.getColumnDataToSet`, the value being passed in as `$sqlStatement` is:
[code]

The value returned by that function is:
[code]

The `\` is stripped from the value.

[2019-05-03 01:01] candrews commented on #1436
slash stripping was introduced in this commit: https://github.com/versionpress/versionpress/commit/6ecaf8d0b481497e46ec3bd4c89773f17cab4177#diff-8543550ac24ac9966fa13dde4cc7cad3

I believe what actually should be done is basically the inversse of [mysqli_real_escape_string](https://www.php.net/manual/en/mysqli.real-escape-string.php); `\n`, `\r`, `\t`, `\0` should be replaced by their actual chara

[2019-05-03 01:14] candrews commented on #1436
Ah, the solution is simple: `stripcslashes` should be used, not `stripslashes`

The problem was caused by a simple one character mistake made over 3 years ago :)

[2019-05-03 07:44] pavelevap commented on #1436
:heart: Good catch, @candrews! I rememeber that I was not able to reproduce this issue yesterday evening :-) I suspected line endings, but it was strange.

Also my example with `rn` from #1430 would be fixed, I guess: https://github.com/versionpress/versionpress/files/3130401/saml_x509_certificate.zip

We should probably cover it with some test.

[2019-05-03 13:40] pavelevap opened #1439 "Rethink case sensitivity comparison for entities"
History:
- Values for `ignored-entities` and `frequently-written` were originally compared as **case-sensitive**.
- But during work on issue #586 were values changed to **case-insensitive** to handle commit filtering in `QueryLanguageUtils::createRulesFromQueries`, see following commits: https://github.com/versionpress/versionpress/commit/2330858026caa39843b714eb7a2507884fcecc4e and https://github

[2019-05-03 13:50] pavelevap opened #1440 "WP-CLI commands do not work in dev container"
I tried following:
- `docker exec -it vpdev_wordpress_1 wp vp apply-changes`
- `docker-compose exec wordpress wp vp apply-changes`

Everytime it ends with error:
`Error: Maintenance mode couldn't be switched. Details: www-data is not in the sudoers file.  This incident will be reported.`

@JanVoracek suggested that problem is probably with this code:

https://github.com/versionpress/versionpress/b

[2019-05-03 14:59] candrews commented on #1436
Looking through the output of `git grep stripslashes`, I don't see any other wrong usages.

[2019-05-03 15:35] candrews commented on #1436
I updated the PR with some tests.

[2019-05-05 21:02] #1436 closed

[2019-05-05 21:04] #1430 closed

[2019-05-05 21:27] borekb commented on #1419
[This Travis build](https://travis-ci.org/versionpress/versionpress/builds/528556822) just failed because of some unrelated fetch error during Docker build 🤨.

[2019-05-09 16:40] candrews opened #1441 "Add to Wordpress Plugins"
Can VersionPress be added as an official Wordpress plugin?

https://wordpress.org/plugins/developers/add/

Doing so would make it much easier for users to discover, install, and update VersionPress.

[2019-05-09 18:06] pavelevap commented on #1441
Previously: #1291

I do not think that adding Versionpress into official WP repository is possible until at least latest WordPress version is fully supported (Gutenberg).

[2019-05-09 22:21] AllenEllis commented on #1244
I had a similar issue too. Instead of adding a new issue here's my write-up:

----------

Versionpress for me was failing on the system requirements check, just rendering a mostly blank page with no error messages.

Fortunately I noticed this in the Apache error log:

It would be nice if the activation screen could catch this exception and show a similar error to the user.

After searching online,

[2019-05-10 08:20] borekb commented on #1433
Copying [recent discussion from Gitter](https://gitter.im/versionpress/versionpress?at=5cd327948fcdb05d479fea48):

---

**Craig Andrews @candrews May 08 21:01** \
borekb, when are you thinking of making the next 4.0 beta release? I'm finding it very... inefficient... to manually patch my various VP installations with the changes made since the last release :)

**Borek Bernard @borekb May 08 22:29*

[2019-05-10 08:46] borekb commented on #1441
Thanks for creating this issue. It crossed my mind several times recently as well, here are my current thoughts:

- I'm much more open to publishing to the WordPress plugin repository than I was before, for example, I no longer think that we need to wait post the Developer Preview phase.
- I agree with @pavelevap that Gutenberg should / must be supported first.
- I'm quite curious how the review w

[2019-05-10 08:50] borekb commented on #1244
@AllenEllis Thanks for writing this. If you find out more about `proc_close`, `proc_nice` or a way to gracefully handle missing `proc_open`, we'd be thankful for a PR 🙏.

[2019-05-10 13:30] pavelevap opened #1442 "Different tracking of admin/public actions"
VersionPress currently differentiates requests made from WordPress administration and public frontend.

https://github.com/versionpress/versionpress/blob/e2209836d30889727991365fde2c983d0121e5a1/plugins/versionpress/src/Git/Committer.php#L89-L103

But there are several related problems:

- For example comments made by registered users (even by administrators) **SOMETIMES** create authored commits

[2019-05-10 13:39] borekb commented on #1442
I'm in favor of solution no. 1.

[2019-05-10 14:25] pavelevap opened #1443 "Filtering commits does not work when using mouse with autocomplete"
Steps to reproduce:

1) Click into "Search" field on VersionPress admin page, autocomplete popup appears.
2) Select Modifiers - action, then "post/update" (use only mouse).
3) Click "Search" button (or you can use Enter on keyboard).

Commits are not filtered, XHR request: `wp-json/versionpress/commits?1557497758499&page=0&query=`

When you follow same steps only with keyboard, especially selectin

[2019-05-11 08:59] pavelevap commented on #1441
Related issue about updating VersionPress: #384

[2019-05-12 12:28] pavelevap opened #1445 "Some issues related to development infrastructure"
I will only gather some notes from testing here.

- When starting development environment (`npm start`), `localhost` does not work immediatelly, because we are not waiting for MySQL to start (see related commit for testing: https://github.com/versionpress/versionpress/commit/c1a1fbb7021e6675ed46976aa4bc74c095eba446).

- Network conflict when development environment is active (`npm start`) and you

[2019-05-12 12:38] pavelevap opened #1446 "Using multibyte string functions"
VersionPress is using basic functions like `strtolower()` for values which could lead to problems. [Multibyte string functions](https://www.php.net/manual/en/ref.mbstring.php) should be used when working with some values, see for example issue #1439.

Example: Special values for entities could be defined in `schema.yml`:
[code]

[2019-05-13 20:13] pavelevap opened #1447 "POST and REST request in Gutenberg"
When saving a post in Gutenberg, both requests are made, see https://github.com/WordPress/gutenberg/issues/12903

Example: Create or edit postmeta on WordPress admin screen. Before Gutenberg it was one request (commit), now we have two commits (every commit changes `post_date` and second one also handles postmeta).

![image](https://user-images.githubusercontent.com/3008007/57650858-15bd0c80-75cc-

[2019-05-14 08:22] borekb commented on #1420
We spent some time chatting about this with @JanVoracek, nothing too deep or well-explored yet but to record the key points:

- Storing auto-increment IDs is probably not doable. Any re-numbering of IDs would lead to changes in the `vpdb` files, leading to new commits, leading to strange Git history at the very least.
- Order represented by precise time of creation is probably doable. (I'll be cal

[2019-05-15 14:25] pavelevap commented on #1405
I was not able to reproduce this issue with another PC (Windows 10 Pro, Hyper-V, Docker Desktop).
Probably somehow related to my slow machine, Windows 7 or Docker Toolbox. 👻
But we can close it for now, I guess, until somebody reproduces it (or finds any explanation).

[2019-05-15 20:23] #1405 closed

[2019-05-17 08:39] borekb commented on #1445
I agree, I'm hitting similar issues.

Dev setup should generally follow the recent updates to our testing infrastructure in #1389 (dev setup itself has last been updated about a year earlier, in #1329). For example:

- Add a script similar to `run-tests` (#1401) that would coordinate Docker stack startup.
- Use different ports for dev and tests, as you noted, @pavelevap.
- Reconsider volume mappin

[2019-05-17 19:39] borekb opened #1451 "Static code analysis"
During the past two years, I have spent most of my time in TypeScript and going back to PHP feels... not very pleasant to be honest. We can't do much about the language but we could modernize our codebase, for example, bump required version of PHP and use newer language features (#1408), or introduce **more static checking**.

We already have an issue about PHPStan – #1210 – however, I recently re

[2019-05-17 19:40] borekb commented on #1210
Superseded by #1451.

[2019-05-17 19:40] #1210 closed

[2019-05-17 20:59] borekb commented on #1451
I have a hard time even installing Psalm because of how PHP and Composer behave – if two packages require the same dependency, they must do so in a compatible way. And it seems that somewhere down the dependency tree, we have `phpdocumentor/reflection-docblock` locked to an older version than what Psalm requires.

That's bad because we can't easily upgrade. There are intricate dependencies like ou

[2019-05-19 09:04] borekb commented on #1451
This should be the solution:

https://github.com/bamarni/composer-bin-plugin

I hope it works reliably.

[2019-05-19 10:11] borekb opened #1452 "Bundle / prefix dependencies to avoid conflicts with other plugins"
We depend on packages like `phpmyadmin/sql-parser` or `symfony/process`, which we manage by Composer.

The problem is that if other plugins use this approach as well (which is increasingly likely, especially for the more complex ones), there might be version conflicts. For example, if VersionPress depends `some-library` at version 1.0 and another plugin at version 2.0, there will very likely be ha

[2019-05-19 12:17] borekb commented on #1402
I'm now convinced that we should either re-work our Selenium tests to Codeception + wp-browser:

- The [phpunit-selenium](https://packagist.org/packages/phpunit/phpunit-selenium) package is de-facto abandoned, see e.g. https://github.com/giorgiosironi/phpunit-selenium/issues/422 or no mentions of it in the current PHPUnit docs.
- It pins us to an old version of PHPUnit (6.x; current is 8.x) which

[2019-05-19 19:04] borekb commented on #1445
Note entirely sure if we'll be able to use it but VSCode's [remote development with containers](https://code.visualstudio.com/docs/remote/containers) seems really nice. Here's a [short video overview](https://youtu.be/tnSnVlbKtMk?t=3416).

[2019-05-21 08:44] borekb commented on #1445
Found some notes from when I was working on #1389, posting them here as they were:

---

- The `stop` scripts use `docker-compose stop` – I don't know why, it should be `down` to also remove the containers.
- Update `npm start` script to print "Wait for WordPress to start – it might take a minutes, then visit http://localhost".
    - This could actually be a `start-wp.ts` script
- Update Dev-setup

[2019-05-23 20:09] borekb opened #1453 "Automated security fixes"
I've signed up this project for [automated security fixes](https://help.github.com/en/articles/configuring-automated-security-fixes) by GitHub:

![Screenshot 2019-05-23 at 22 07 00](https://user-images.githubusercontent.com/101152/58282901-4e689d00-7da7-11e9-8c0a-1db903f3a756.png)

Let's see how it goes.

[2019-05-23 20:15] sphule commented on #1303
Are there any further updates on this issue. I am trying to use Polylang with Versionpress. Bulk update while setting default language breaks the database when apply-changes is used.

[2019-06-19 01:30] ricxsar opened #1456 "Versionpress is not docker mount friendly during activation"
I tried to create a wordpress docker image with versionpress on it. I'm only interested on versionpress files so I created a mount point of git on wordpress root folder (/var/www/html/.git) and versionpress db folder (vpdb) on wp-content folder (/var/www/html/wp-content/vpdb).

On the checklist says `This website is already versioned in Git` even though the .git folder and vpdb is empty.

![image]

[2019-06-19 01:58] ricxsar commented on #1456
To solve the problem when behind a load balancer, you should introduce a WP-CLI command which activates versionpress similar to the Wordpress Admin Plugin Activation.

[2019-06-24 12:38] kalich5 commented on #1029
??

[2019-06-26 20:39] dsnid3r commented on #1029
I'd like to see this picked back up...Any way I can help?

[2019-06-27 11:05] borekb commented on #1029
For anyone who would like to see this happen and is willing to help, it would be awesome to read a detailed proposal of this feature – how would it work, which actions would lead to which commits, how would the data structures be tracked, if you'd like to see a single repo model vs. multiple related repo (and in case of multi repo, how would you visualize that in VersionPress UI), etc.

Multisite

[2019-06-27 13:13] borekb commented on #1402
[WordPress core now uses Jest + Puppeteer for end2end tests](https://make.wordpress.org/core/2019/06/27/introducing-the-wordpress-e2e-tests/).

[2019-06-27 13:59] dsnid3r commented on #1029
@borekb I might have one of my developers I can pass this onto for the actual development of it (I have very limited time but will help however I can). This is a feature I've been searching for, it would be best like you said borekb if we frameworked this out of how it works so whoever the dev is knows exactly what we're looking for.

[2019-06-27 14:35] amjad commented on #1029
I mentioned my workflow and requirements in my post above. Still waiting for multisite support.

[2019-06-27 18:05] borekb commented on #1029
@dsnid3r Contributing development time would be absolutely awesome!

[2019-07-03 08:03] borekb commented on #1452
Delicious Brains recently blogged about this: [PHP Scoper: How to Avoid Namespace Issues in your Composer Dependencies](https://deliciousbrains.com/php-scoper-namespace-composer-depencies/).

[2019-07-09 22:21] efuturetoday commented on #1440
I had the same problem for my docker environment.
Just adding this to your Dockerfile should fix it.
Make sure that you have sudo installed.

`RUN sudo adduser www-data sudo`

[2019-10-05 21:49] olexiyb commented on #1456
Just create Dockerfile
[code]

And docker-compose.yml

[code]

[2019-10-06 18:20] skullwritter opened #1465 "Tempdir problem"
# temp dir
get temp dir from php function:
`sys_get_temp_dir()`
or
`putenv('TMPDIR='.ini_get('open_basedir').'/tmp')`

[2019-10-06 18:59] borekb commented on #1465
@skullwritter, could you please clarify what you mean? Thanks.

[2019-10-06 19:07] skullwritter commented on #1465
yup... the sys_get_temp_dir does not always work so it would be nice to gave something checking for the open_basedir:
[code]

[2019-10-06 19:09] skullwritter commented on #1465
@borekb i've updated the comment

[2019-10-06 20:35] borekb commented on #1465
Thanks. It's still not clear to me when this happens or why, could you please link to some resources? Also, if you're suggesting specific code changes in VersionPress, feel free to open a PR where the discussion can happen closer to the source code (there's no guarantee that the PR will be accepted, it might just be easier to discuss around specific code changes).

[2019-10-06 20:51] skullwritter commented on #1465
@borekb it happened after the install of the plugin it was saying that it didn't have readwrite permission on the /tmp, and the open base dir contained it, so, i've had to add the:
`putenv('TMPDIR='.$newdir); ` code to the wp-config for it to work cause my temp dir was something like:
/home/*******/tmp

[2019-10-07 06:55] ricxsar commented on #1456
@olexiyb I think `Dockerfile` only activates the plugin but not activating the full VersionPress functionality and also I don't want to mount the whole `/var/www/html`, only the VersionPress files like I've said above due to personal reasons.

[2019-10-09 01:24] skullwritter commented on #1465
in terms of server configuration, i've had seen many users complaining about virtualhosts, that do not contain the specific var ``TMPDIR`` defined, so that's why i've opened this issue, to alert to one solution, that may be as harmless as something as a try and a catch like:
[code]

[2019-10-25 01:33] arafatx opened #1469 "How bad it is to use versionpress for deployment?"
Sorry for asking something not related to bug. I just stopped using the traditional git in the terminal to version my wordpress files. I had to manually dump the sql file and so many workflows for a single commit and push. Then I searched an alternative ways for wordpress and I'm very impress with the versionpress features. I notice that, the docs mention that it is still in development stage but

[2019-10-29 20:08] candrews commented on #1469
I'm using it for a few live sites.

The only gotcha to be aware of is that you may have to do some work for plugins that use custom database functionality. In other words, if a plugin uses the built in WordPress tables (posts, comments, users, etc) then the plugin will Just Work. If it creates its own tables, you'll need to create a schema.yml to tell VersionPress about it. See https://docs.versio

[2019-12-19 17:04] BreezeMaxWeb-NS commented on #1292
Also had the same issue, connection is dropped and admin-ajax.php never returns a response with VersionPress activated.

[2020-01-06 15:26] UncleDan opened #1472 "Possible implementation: choose the git to commit and suspend feature"
Is it possibile to have the ability to choose whiche repo to commit to (via WP dashboard).

Is it possible to have a "suspend" feature or not to loose the anchor when deactivating the plugin? It brakes duplicator and other plugins I use but if I disable it I loose the previous undo (it is clearly stated, I know, but a bit annoying!)

[2020-01-07 20:14] borekb commented on #1472
Hi @UncleDan, it's not possible to choose which Git repo to commit to, and we don't plan to implement such feature. VersionPress commits to a Git repo found at site root and it has to be this way.

As for the "suspend" feature, VersionPress needs to be actively tracking changes, and _all_ changes, to be able to undo them. So when you deactivate VersionPress, you lose the ability to revert older ch

[2020-01-07 20:14] #1472 closed

[2020-01-21 13:38] davask commented on #1465
I host my wp on virtualhost and I faced that issue, however, when I have defined `putenv('TMPDIR='.VP_TEMP_DIR);` where VP_TEMP_DIR is a dir I can write on, it solves my trouble.

I agree with @borekb this issue seems more a configuration issue, however @borekb, to ease the process of configuration what about upgrading vp code to add an option where we can define VP_TEMP_DIR `putenv('TMPDIR='.VP_T

[2020-02-16 16:06] haywirephoenix opened #1473 "password strings stripped of symbols"
Exclaimation marks in my password are being stripped from the string. I've tried using windows command and git bash same result.

Also tried escaping the exclaimation marks and using double and single quotes.

[2020-02-16 16:24] hookedgeardev opened #1474 "Correct way to clone with wp in own directory"
In  `site/wp/wp-config.common.php ` I have defined the project root as up one level:

`define('VP_PROJECT_ROOT', dirname(__DIR__, 1));`

cloning results:

`Success: Site files cloned
Success: Clone added as a remote
Success: Enabled pushing to the original repository
Success: Enabled pushing to the clone
Error: Config file does not exist. Please run `wp core config` first.
Error: Config file does

[2020-03-02 19:43] pschoffer commented on #1456
I was checking this project (loving it btw) and I think I was planning to use it in similar way as you @ricxsar. I guess this might be old news by now., but there is `wp vp activate` command you can use in your Dockerfile to get fully activated versionpress. It gets a bit tricky to make sure wordpress can use the git repo, if you run as a root  but doing a `chown -R www-data .` (in apache flavour)

[2020-03-06 19:08] candrews commented on #1453
@borekb are you going to merge the security fixes? Will a new release be made including them?

[2020-03-08 21:08] borekb commented on #1453
@candrews Hi Craig, we currently don't have the capacity to maintain this project, unfortunately. I plan to post an issue about this.

[2020-05-15 20:57] AllenEllis opened #1478 "Versionpress can fill the entire HDD with lots of inodes"
Hi all,

Sorry for the lack of details -- this happened a few months ago but I wanted to report it from memory since I don't see any issues about it.

I was running versionpress on four fairly low traffic Wordpress blogs that were on a small Linode VPS for about a year. All four of them started throwing odd errors one day, about unable to write files to the disk.

The disk was only 50% used in ter

[2020-05-16 09:23] borekb commented on #1478
Hi, thanks for reporting this, it can indeed happen as the way VersionPress is designed can lead to tons of small files in the Git repo. Usually, Git packs these files into fewer [Packfiles](https://git-scm.com/book/en/v2/Git-Internals-Packfiles) but maybe it was not happening on your server.

[2020-05-25 06:56] alexlii1971 opened #1479 "How to make it work on Multisites?"
Hello,

I am confused on how to make it work on multisite, should I activate it networkly or only on main site please?

Thanks

[2020-05-25 08:24] borekb commented on #1479
Hi @alexlii1971, multisite is not supported, the primary issue for it is #1029.

[2020-05-25 08:24] #1479 closed

[2020-06-16 07:56] borekb opened #1481 "VersionPress status, 06/2020"
_I'm creating this issue to have a place to point people to._

As of today, nobody is actively working on VersionPress and it's been this way for a while, actually – last active development was _before_ WordPress 5.0 / Gutenberg.

We, the original team, are still together and working on WordPress-related products but not VersionPress itself. If you're wondering why, the main reason is that Version

[2020-06-16 13:02] roundrobinjp commented on #1481
@borekb
Thanks. This explanation was a very much required one.
I saw a number of people around me trying to use VersionPress, but finally
failed to utilize it properly. You may like to post this to VersionPress
website and facebook page. That will save people from wasting their time.

However, I wonder how people in the world are doing without any solution
like VersionPress. I feel very uncomforta

[2020-06-16 14:12] borekb commented on #1481
People struggle 😄.

This is relatively hard with any CMS by the way, as database is a necessity for performance reasons and that just isn't friendly to version control. WordPress is relatively well-positioned to have this problem solved as it has a stable DB structure, is itself open source, etc., but it's still a tough challenge.

[2020-07-03 17:29] dsnid3r commented on #1029
@borekb Its time to get this going one way or another. Do we have a direction nailed down on how we want this to function from the splitting sense? IMO I'd really like to see a staging branch and production branch aspect with the ability to deploy and rollback the subsites across multiple instances as desired. What specific issues does VersionPress currently have from running the entire network as

[2020-07-13 08:59] borekb commented on #1029
@dsnid3r Hi Dustin, we don't actively work on VersionPress at the moment, see #1481, but if you want to work out exactly how Multisite would work or possibly even implement it, certainly go ahead.

[2020-07-13 09:11] amjad commented on #1481
Maybe Automattic can buy you out? You have a great name and a useful plugin.

[2020-07-14 04:38] borekb commented on #1481
Not going to happen 😄.

[2020-07-20 19:06] RaiAnsar opened #1486 "VP won't track website on aaPanel"
I've tried installing and reinstalling it but no results.
![image](https://user-images.githubusercontent.com/35567562/87976041-e5cd9b00-cae5-11ea-9af0-eba61064e0cd.png)

[2020-09-04 05:35] yusufhm commented on #1481
Hey @borekb is there a list of priority issues that we could pick up and work on if we wanted to keep seeing some progress on this and contribute back? I've just discovered this plugin and I think it's a great idea for tracking changes on Wordpress sites.

[2020-10-05 23:58] gjohnhazel commented on #1481
Wow I just discovered this and would absolutely love a complete product, but I definitely understand not being able to continue production. I hope a company picks this up and, if necessary, monetizes to keep it sustainable! This is exactly the solution I was looking for. Thanks for the hard work you have put into this foundation and proof-of-concept!

[2020-10-07 20:55] strarsis commented on #1481
Other CMS wouldn't support what VersionPress does either? Like JavaScript based ones, or similar ones?
Has the VersionPress dev team switched to another CMS/stack that offers these features out of the box?

[2020-10-20 18:42] michalsen opened #1492 "Lando"
This isn't so much a bug, or RFC, but for others that may wish to run this tool in a Lando environment, line 438 in vp.php needs to be changed to:
[code]

I'm not sure how much an issue this would be, or if there's another/better way of handling this.
Again, I'm just posting this incase others have the same issue.

[2021-01-14 21:40] willem-aart commented on #1481
There are git backed CMSes such as https://www.netlifycms.org/

[2021-03-30 22:35] nightillusions commented on #1481
Yes, I preffer using Statamic (https://statamic.dev/git-integration) but customer still think WordPress does a great job :(

[2021-06-11 20:45] minecraftchest1 commented on #914
I have never used this software. I found it from an issue in another project. I do wan't to point out that json does not require whitespaces. There are many apps that put the entire json document in one line without issues.

I would like to know what you have against XML though.

[2021-06-11 20:56] andry81 commented on #914
This makes yaml most readable between all other formats. If you want to pack config files into something without whitespaces, then may be you should not use a human readable format at all.

[2021-06-11 22:42] minecraftchest1 commented on #914
I actually happen to dislike YAML because of its whitespaces.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Andrey ***@***.***>
Date: 6/11/21 3:57 PM (GMT-06:00)
To: versionpress/versionpress ***@***.***>
Cc: minecraftchest1 ***@***.***>, Comment ***@***.***>
Subject: Re: [versionpress/versionpress] INI file format vs. others (JSON, YAML, XML...) (#914)

  *   YAML

[2021-06-12 01:11] andry81 commented on #914
Are you read configs from a mobile device? This is not stated in the first message.

[2021-06-12 01:26] minecraftchest1 commented on #914
No. It's writing them on a desktop that is the problem.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Andrey ***@***.***>
Date: 6/11/21 8:11 PM (GMT-06:00)
To: versionpress/versionpress ***@***.***>
Cc: minecraftchest1 ***@***.***>, Comment ***@***.***>
Subject: Re: [versionpress/versionpress] INI file format vs. others (JSON, YAML, XML...) (#914)

I actually happe

[2021-06-12 12:16] andry81 commented on #914
This has no sense. INI definitely is less functional than YAML. YAML is closer to markup language like Markdown or ReStructuredText and so better readable. For example, YAML can natively has hierarchy, no need to use scope characters, quotes, can write list in a line ([a,b,c]). All these better fits for text-to-text file comparison (quotes, brackets and other characters interferes with the text co

[2021-06-12 15:54] minecraftchest1 commented on #914
The problem I have with YAML is editing someone else yml file without knowing how it is indented.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Andrey ***@***.***>
Date: 6/12/21 7:16 AM (GMT-06:00)
To: versionpress/versionpress ***@***.***>
Cc: minecraftchest1 ***@***.***>, Comment ***@***.***>
Subject: Re: [versionpress/versionpress] INI file format vs. others (JS

[2021-06-12 16:11] andry81 commented on #914
This is not a problem: https://stackoverflow.com/questions/42247535/yaml-how-many-spaces-per-indent

[2022-03-06 01:11] davidvc commented on #1481
Hi @borekb. If it's not too much trouble, could you summarize the major challenges and big areas of work around getting this production ready? Is it the database integration? Is it Gutenberg?  Just trying to get a sense of how crazy I'd be to try and take that effort on (I'm suspecting, pretty crazy :) )

Thanks,

David

[2022-10-19 23:19] yungifez commented on #1481
Damn this is a real shame, i want to use wordpress for a project and im afraid one day all the pages would disappear all of a sudden 😆